<div class="main__container">
    <ngx-tabset customNavClass="nav-test-class" id="navTabset" customTabsClass="container">
        <ngx-tab tabTitle="Plan details">
          <div class="tab__content">
            <div class="accordian_container">
                <div class="accordion" id="accord1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingOne">
                            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#accord1collapseOne" aria-expanded="true" aria-controls="accord1collapseOne">
                                Can my non-working spouse also avail this plan?
                            </button>                            
                        </h2>
                        <div id="accord1collapseOne" class="accordion-collapse collapse show" aria-labelledby="accord1headingOne" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, you can take the same plan for your non-working spouse but the spouse should be a graduate and the cover will be based on the spouse’s income.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingTwo">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Can I take the same plan for my parents/ siblings/ in-laws/ children? What will be the cover offered?
                </button>
                        </h2>
                        <div id="accord1collapseTwo" class="accordion-collapse collapse" aria-labelledby="accord1headingTwo" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, you can take the same plan for your parents/siblings/in-laws/children if they can provide the following documents: 1. Age Proof- Must be between 18 to 65 years 2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac 3. Qualification
                                Proof- HSC and above
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingThree">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseThree" aria-expanded="false" aria-controls="accord1collapseThree">
                  If I quit my Job/go for higher studies/start my own business, will this plan continue?                    
                </button>
                        </h2>
                        <div id="accord1collapseThree" class="accordion-collapse collapse" aria-labelledby="accord1headingThree" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, you can take the same plan for your parents/siblings/in-laws/children if they can provide the following documents: 1. Age Proof- Must be between 18 to 65 years 2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac 3. Qualification
                                Proof- HSC and above
                            </div>
                        </div>
    
                    </div>
                    <!-- four -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingFour">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseFour" aria-expanded="false" aria-controls="accord1collapseFour">
                                In case of the death of the policy holder, will the plan be transferred to the family of the
                                policy holder?                
                            </button>
                        </h2>
                        <div id="accord1collapseFour" class="accordion-collapse collapse" aria-labelledby="accord1headingFour" data-parent="#accord1">
                            <div class="accordion-body">
                                No, the plan will be discontinued and the nominee will get the amount hence it is important to mention the nominee details while buying a policy.
                            </div>
                        </div>
    
                    </div>
                    <!-- five -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingFive">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseFive" aria-expanded="false" aria-controls="accord1collapseFive">
                                Can I keep more than one nominee in this plan?                
                            </button>
                        </h2>
                        <div id="accord1collapseFive" class="accordion-collapse collapse" aria-labelledby="accord1headingFive" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, you can have up to three nominees in this plan.
                            </div>
                        </div>
    
                    </div>
                    <!-- Six -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingSix">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseSix" aria-expanded="false" aria-controls="accord1collapseSix">
                                Do I have to undergo medicals to take this plan?               
                            </button>
                        </h2>
                        <div id="accord1collapseSix" class="accordion-collapse collapse" aria-labelledby="accord1headingSix" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, some form of medical examination is mandatory. You may have to undergo a Video online consult with our medical team or a full medical checkup. Medical criteria is defined based on each profile by underwriters.
                            </div>
                        </div>
    
                    </div>
                    <!-- Seventh -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingSeventh">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseSeventh" aria-expanded="false" aria-controls="accord1collapseSeventh">
                                What are the documents required?              
                            </button>
                        </h2>
                        <div id="accord1collapseSeventh" class="accordion-collapse collapse" aria-labelledby="accord1headingSeventh" data-parent="#accord1">
                            <div class="accordion-body">
                                What are the documents required?
                                1. Pan Card
                                <br>
                                2. Aadhar Card
                                <br>
                                3. Income Proof ( Form 16 for salaried and 3 years ITR with computation of income for self
                                employed
                                <br>
                                4. Bank account statement
                                <br>
                                5. Any other documents as asked for by underwriters
                            </div>
                        </div>
    
                    </div>
                    <!-- Eight -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingEight">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseEight" aria-expanded="false" aria-controls="accord1collapseEight">
                                Will this plan provide life cover if the policy holder dies in abroad?            
                            </button>
                        </h2>
                        <div id="accord1collapseEight" class="accordion-collapse collapse" aria-labelledby="accord1headingEight" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, this plan will provide the life cover as usual. However, there is a list of negative countries like Syria, Iran, Iraq, Zambia etc. which are not covered under this plan.
                            </div>
                        </div>
    
                    </div>
                    <!-- Nine -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingNine">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseNine" aria-expanded="false" aria-controls="accord1collapseNine">
                                What is the minimum entry age?            
                            </button>
                        </h2>
                        <div id="accord1collapseNine" class="accordion-collapse collapse" aria-labelledby="accord1headingNine" data-parent="#accord1">
                            <div class="accordion-body">
                                Minimum entry age is 18 years.
                            </div>
                        </div>
    
                    </div>
                    <!-- Ten -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingTen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseTen" aria-expanded="false" aria-controls="accord1collapseTen">
                                What is the maximum entry age?         
                            </button>
                        </h2>
                        <div id="accord1collapseTen" class="accordion-collapse collapse" aria-labelledby="accord1headingTen" data-parent="#accord1">
                            <div class="accordion-body">
                                Maximum entry age is 65 years.
                            </div>
                        </div>
    
                    </div>
                    <!-- Eleven -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingEleven">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseEleven" aria-expanded="false" aria-controls="accord1collapseEleven">
                                Can I add rider to my plan after the policy is issued?      
                            </button>
                        </h2>
                        <div id="accord1collapseEleven" class="accordion-collapse collapse" aria-labelledby="accord1headingEleven" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, you can add/remove any riders on policy anniversary anytime during the term of the plan.
                            </div>
                        </div>
    
                    </div>
                    <!-- Twelve -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingTwelve">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseTwelve" aria-expanded="false" aria-controls="accord1collapseTwelve">
                                Are there any medical benefits in this plan?      
                            </button>
                        </h2>
                        <div id="accord1collapseTwelve" class="accordion-collapse collapse" aria-labelledby="accord1headingTwelve" data-parent="#accord1">
                            <div class="accordion-body">
                                Yes, we cover 37 critical illnesses in the plan. You need to opt for the <strong>Critical Illness Benefit Plus rider.</strong> 
                            </div>
                        </div>
    
                    </div>
                    <!-- Thirteen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseThirteen" aria-expanded="false" aria-controls="accord1collapseThirteen">
                                How long I have to pay policy?     
                            </button>
                        </h2>
                        <div id="accord1collapseThirteen" class="accordion-collapse collapse" aria-labelledby="accord1headingThirteen" data-parent="#accord1">
                            <div class="accordion-body">
                                Maximum till the age of 75 years if he/she goes with a regular premium term.
                            </div>
                        </div>
    
                    </div>
                    <!-- Fourteen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingFourteen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseFourteen" aria-expanded="false" aria-controls="accord1collapseFourteen">
                                What are the premium paying term available? 
                            </button>
                        </h2>
                        <div id="accord1collapseFourteen" class="accordion-collapse collapse" aria-labelledby="accord1headingFourteen" data-parent="#accord1">
                            <div class="accordion-body">
                                The premium paying term options available are:
                                <br>
                                1. Regular
                                <br>
                                2. Limited ( 5 & 10 years)
                                <br>
                                3. Single
                            </div>
                        </div>
    
                    </div>
                    <!-- Fifteen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord1headingFifteen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord1collapseFifteen" aria-expanded="false" aria-controls="accord1collapseFifteen">
                                What are the different premium paying modes?
                            </button>
                        </h2>
                        <div id="accord1collapseFifteen" class="accordion-collapse collapse" aria-labelledby="accord1headingFifteen" data-parent="#accord1">
                            <div class="accordion-body">
                                The different modes of paying the premium are:
                                <br>
                                1. Monthly
                                <br>
                                2. Annually
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
         </div>
        </ngx-tab>
        <ngx-tab tabTitle="Payment and application related" [bypassDOM]="true">
          <ng-template>
            <div class="tab__content">
              <div class="accordian_container">
                  <div class="accordion" id="accord2">
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingOne">
                              <button class="accordion-button" type="button" data-toggle="collapse" data-target="#accord2collapseOne" aria-expanded="true" aria-controls="accord2collapseOne">
                                  What is the process once the payment is done?
                              </button>
                          </h2>
                          <div id="accord2collapseOne" class="accordion-collapse collapse show" aria-labelledby="accord2headingOne" data-parent="#accord2">
                              <div class="accordion-body">
                                  Once the payment is done, you have to complete the form fill process and upload the required documents:
                                  <br>
                                  1. You will receive a call from Kotak Life to confirm the policy details
                                  <br>
                                  2. If medicals are required, you will have to complete the medical process
                                  <br>
                                  3. You can upload the documents on the website
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingTwo">
                              <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord2collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  What are the modes of payment available?
                              </button>
                          </h2>
                          <div id="accord2collapseTwo" class="accordion-collapse collapse" aria-labelledby="accord2headingTwo" data-parent="#accord2">
                              <div class="accordion-body">
                                  The available modes of payment are:
                                  <br>
                                  1. Via Credit card
                                  <br>
                                  2. Via Debit Card
                                  <br>
                                  3. Via Net Banking
                                  <br>
                                  4. Via Google Pay
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingThree">
                              <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord2collapseThree" aria-expanded="false" aria-controls="accord2collapseThree">
                                  In how many days can I submit the required KYC documents once the payment is done?        
                              </button>
                          </h2>
                          <div id="accord2collapseThree" class="accordion-collapse collapse" aria-labelledby="accord2headingThree" data-parent="#accord2">
                              <div class="accordion-body">
                                  You can submit the KYC documents within 2-3 working days of payment however it is recommended to the same at the earliest.
                              </div>
                          </div>
                      </div>
                      <!-- four -->
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingFour">
                              <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord2collapseFour" aria-expanded="false" aria-controls="accord2collapseFour">
                                  How much time is required for a refund after the policy has been declined?               
                              </button>
                          </h2>
                          <div id="accord2collapseFour" class="accordion-collapse collapse" aria-labelledby="accord2headingFour" data-parent="#accord2">
                              <div class="accordion-body">
                                  After the policy has been declined/withdrawn, the time taken for a refund is 8-10 working days.
                              </div>
                          </div>
    
                      </div>
                      <!-- five -->
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingFive">
                              <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord2collapseFive" aria-expanded="false" aria-controls="accord2collapseFive">
                                  I have made the payment. Is the policy process complete?              
                              </button>
                          </h2>
                          <div id="accord2collapseFive" class="accordion-collapse collapse" aria-labelledby="accord2headingFive" data-parent="#accord2">
                              <div class="accordion-body">
                                  No, once you have made the payment, the remaining form filling has to be done:
                                  <br>
                                  1. Fill the personal details
                                  <br>
                                  2. Address
                                  <br>
                                  3. Nominee details
                                  <br>
                                  4. Health questionnaire etc.
                                  <br>
                                  You also need to upload the required documents and complete the medical tests.
                              </div>
                          </div>
    
                      </div>
                      <!-- Six -->
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingSix">
                              <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord2collapseSix" aria-expanded="false" aria-controls="accord2collapseSix">
                                  What if I missed paying premium and missed the due date by some days?              
                              </button>
                          </h2>
                          <div id="accord2collapseSix" class="accordion-collapse collapse" aria-labelledby="accord2headingSix" data-parent="#accord2">
                              <div class="accordion-body">
                                  If the customer misses paying the premium, he still has a grace period which is:
                                  <br>
                                  1. Customer gets a grace period of 1month if it’s an yearly mode of payment
                                  <br>
                                  2. Customer gets a grace period of 15days if it’s a monthly mode of payment
                              </div>
                          </div>
    
                      </div>
                      <!-- Seventh -->
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="accord2headingSeventh">
                              <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord2collapseSeventh" aria-expanded="false" aria-controls="accord2collapseSeventh">
                                  What if I missed the grace period too for paying the premium?           
                              </button>
                          </h2>
                          <div id="accord2collapseSeventh" class="accordion-collapse collapse" aria-labelledby="accord2headingSeventh" data-parent="#accord2">
                              <div class="accordion-body">
                                  The customer policy will get lapsed if the grace period is missed, although the customer has a revival option of 5 years where the customer can continue the policy by paying the missedpremium and interest.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
           </div>
          </ng-template>
        </ngx-tab>
        <ngx-tab tabTitle="Generic">
          <div class="tab__content">
            <div class="accordian_container">
                <div class="accordion" id="accord3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingOne">
                            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#accord3collapseOne" aria-expanded="true" aria-controls="accord3collapseOne">
                                How much life cover will I get?
                            </button>
                        </h2>
                        <div id="accord3collapseOne" class="accordion-collapse collapse show" aria-labelledby="accord3headingOne" data-parent="#accord3">
                            <div class="accordion-body">
                                The amount of Life cover that one can gets will depend on the following things:
                                <br>
                                1. Customer age
                                <br>
                                2. Qualification
                                <br>
                                3. Income
                                <br>
                                It is recommended you get coverage that is approximately between eight-ten times of your annual income.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingTwo">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can my friend take the same plan who is working with another company? What will be the cover offered?
                            </button>
                        </h2>
                        <div id="accord3collapseTwo" class="accordion-collapse collapse" aria-labelledby="accord3headingTwo" data-parent="#accord3">
                            <div class="accordion-body">
                                Yes, the following documents are needed:
                                <br>
                                1. Age Proof- Must be between 18 to 65 years
                                <br>
                                2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac
                                <br>
                                3. Qualification Proof- HSC and above
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingThree">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseThree" aria-expanded="false" aria-controls="accord3collapseThree">
                                If I want to continue the lapsed policy, what will be the penalty? Can it restart with the same cover?                   
                            </button>
                        </h2>
                        <div id="accord3collapseThree" class="accordion-collapse collapse" aria-labelledby="accord3headingThree" data-parent="#accord3">
                            <div class="accordion-body">
                                Yes, you can restart the policy but you will have to pay the nominal penalty amount.
                            </div>
                        </div>
                    </div>
                    <!-- four -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingFour">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseFour" aria-expanded="false" aria-controls="accord3collapseFour">
                                How much time is required to get my policy issued?               
                            </button>
                        </h2>
                        <div id="accord3collapseFour" class="accordion-collapse collapse" aria-labelledby="accord3headingFour" data-parent="#accord3">
                            <div class="accordion-body">
                                There are three basic steps for faster issuance of the policy:
                                <br>
                                1. Complete the application process
                                <br>
                                2. Complete the documentation process
                                <br>
                                3. Complete the medicals
                                <br>
                                Once all these three steps are completed and the customer shares all the required documents then the policy is issued in 14-15 working days.
                            </div>
                        </div>
    
                    </div>
                    <!-- five -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingFive">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseFive" aria-expanded="false" aria-controls="accord3collapseFive">
                                Within how many days will I get the policy documents?              
                            </button>
                        </h2>
                        <div id="accord3collapseFive" class="accordion-collapse collapse" aria-labelledby="accord3headingFive" data-parent="#accord3">
                            <div class="accordion-body">
                                Once your policy is issued, it takes around 10-12 working days for the policy document to reach the registered address. Please note there may be delays or we may not be able to deliver the hard copy of your document due to lockdown restrictions during Pandemic. A soft copy of the same will be emailed to your registered ID
                            </div>
                        </div>
    
                    </div>
                    <!-- Six -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingSix">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseSix" aria-expanded="false" aria-controls="accord3collapseSix">
                                In case I start smoking or drinking (alcohol), post taking this cover, will the premium amount increase?           
                            </button>
                        </h2>
                        <div id="accord3collapseSix" class="accordion-collapse collapse" aria-labelledby="accord3headingSix" data-parent="#accord3">
                            <div class="accordion-body">
                                It is in your best interest to update us in case of such activities as the policy might get rejected if death occurs due to an undisclosed activity/condition. These activity or conditions are limited to what was asked while filling the proposal form.
                            </div>
                        </div>
    
                    </div>
                    <!-- Seventh -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingSeventh">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseSeventh" aria-expanded="false" aria-controls="accord3collapseSeventh">
                                In case I completely stop or reduce the consumption of smoking / drinking (alcohol), will the premium amount decrease?           
                            </button>
                        </h2>
                        <div id="accord3collapseSeventh" class="accordion-collapse collapse" aria-labelledby="accord3headingSeventh" data-parent="#accord3">
                            <div class="accordion-body">
                                You can apply for a fresh policy and discontinue the earlier one.
                            </div>
                        </div>
    
                    </div>
                    <!-- Eight -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingEight">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseEight" aria-expanded="false" aria-controls="accord3collapseEight">
                                If I want to change the address / nominee / contact details, then what is the procedure?            
                            </button>
                        </h2>
                        <div id="accord3collapseEight" class="accordion-collapse collapse" aria-labelledby="accord3headingEight" data-parent="#accord3">
                            <div class="accordion-body">
                                The procedure is as below:
                                
                                1. You can mail on any of the mentioned IDs-
                                <a href="mailto:clientservicedesk@kotak.com">
                                    clientservicedesk@kotak.com & omkm.policyservicing@kotak.com
                                </a>
                                <br>
                                2. You can visit any branch
                                <br>
                                3. Call on our toll free no.- 1800 209 8800
                            </div>
                        </div>
    
                    </div>
                    <!-- Nine -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingNine">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseNine" aria-expanded="false" aria-controls="accord3collapseNine">
                                Whom do I contact in case I want any corrections in my application?           
                            </button>
                        </h2>
                        <div id="accord3collapseNine" class="accordion-collapse collapse" aria-labelledby="accord3headingNine" data-parent="#accord3">
                            <div class="accordion-body">
                                Corrections to the policy can be made before the issuance of the policy. After issuance, you
                                can mail to clientservicedesk@kotak.com
                            </div>
                        </div>
    
                    </div>
                    <!-- Ten -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingTen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseTen" aria-expanded="false" aria-controls="accord3collapseTen">
                                Can I apply for a policy if I had COVID and have recovered from the same?     
                            </button>
                        </h2>
                        <div id="accord3collapseTen" class="accordion-collapse collapse" aria-labelledby="accord3headingTen" data-parent="#accord3">
                            <div class="accordion-body">
                                Yes, you can apply however the policy will be reviewed by the underwriters and then the decision will be made.
                                <ul>
                                    <li>COVID Questionnaire is mandatory for all cases wherein client have suffered from COVID in
                                        past.</li>
                                    <li>COVID Questionnaire include treating doctor/ physician stamp and signature</li>
                                    <li>In case of non-availability of Covid questionnaire along with doctor stamp and signature,
                                        Negative Covid report is mandatory if client have suffered in 2020</li>
                                </ul>
                                If Family member of life assured is COVID positive currently, life assured negative report is mandatory and policy can be logged in post 14 days from last quarantine day of the negative report.
                                <br>
                                Note: Covid related guide lines keep on changing based on the ongoing situation
                            </div>
                        </div>
    
                    </div>
                    <!-- Eleven -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingEleven">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseEleven" aria-expanded="false" aria-controls="accord3collapseEleven">
                                Can I apply for a policy if I don’t want to go for medicals?      
                            </button>
                        </h2>
                        <div id="accord3collapseEleven" class="accordion-collapse collapse" aria-labelledby="accord3headingEleven" data-parent="#accord3">
                            <div class="accordion-body">
                                Whether the medical is required or not is an underwriting decision, this will be reviewed once the customer has applied for the policy.
                            </div>
                        </div>
    
                    </div>
                    <!-- Twelve -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingTwelve">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseTwelve" aria-expanded="false" aria-controls="accord3collapseTwelve">
                                What is the minimum qualification required to apply for e-Term Plan?    
                            </button>
                        </h2>
                        <div id="accord3collapseTwelve" class="accordion-collapse collapse" aria-labelledby="accord3headingTwelve" data-parent="#accord3">
                            <div class="accordion-body">
                                You should be a HSC.
                            </div>
                        </div>
    
                    </div>
                    <!-- Thirteen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseThirteen" aria-expanded="false" aria-controls="accord3collapseThirteen">
                                What is the minimum income required to apply for e-term plan?   
                            </button>
                        </h2>
                        <div id="accord3collapseThirteen" class="accordion-collapse collapse" aria-labelledby="accord3headingThirteen" data-parent="#accord3">
                            <div class="accordion-body">
                                Income should be more than Rs. 3 lac.
                            </div>
                        </div>
    
                    </div>
                    <!-- Fourteen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingFourteen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseFourteen" aria-expanded="false" aria-controls="accord3collapseFourteen">
                                My policy has been issued today, so has the coverage started? 
                            </button>
                        </h2>
                        <div id="accord3collapseFourteen" class="accordion-collapse collapse" aria-labelledby="accord3headingFourteen" data-parent="#accord3">
                            <div class="accordion-body">
                                Yes, your risk commencement date will also be mentioned in the policy document and the risk commencement date is the same as the policy.
                            </div>
                        </div>
    
                    </div>
                    <!-- Fifteen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accord3headingFifteen">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#accord3collapseFifteen" aria-expanded="false" aria-controls="accord3collapseFifteen">
                                Can I make my children as a nominee and what if they are below 18 years?
                            </button>
                        </h2>
                        <div id="accord3collapseFifteen" class="accordion-collapse collapse" aria-labelledby="accord3headingFifteen" data-parent="#accord3">
                            <div class="accordion-body">
                                Yes, children above 18 years can be nominees. If children are minors (below 18 years), you need to mention an appointee.
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
         </div>
        </ngx-tab>
    </ngx-tabset>
</div>
