@media (max-width: 767px) {
    .nav-tabs {
        border-top: none;
        border-left: none;
    }
}

@media (max-width: 767px) {
    .nav-tabs.tabset__container.nav li.nav-tab {
        min-width: fit-content !important;
        width: fit-content;
    }
    .nav-tabs .nav-link.active {
        background-color: #fff;
        color: #003366;
        font-weight: 700;
    }
    .nav-tabs .nav-link {
        border-right: none;
    }
}

.detail {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #2B2B2B;
    width: 60%;
    margin-bottom: 24px;
}

h6 {
    margin-bottom: 16px;
    margin-top: 24px;
}

.tab__content div:last-child.border_bottom {
    border-bottom: none;
}

@media (max-width: 767px) {
    .detail {
        width: 100%;
    }
    .accordion-button {
        line-height: 23px!important;
    }
}
