.tooltipCustom .infoIcon:hover~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -63px;
    left: -8px;
}

.tooltipCustom .inputFeild:focus-within~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -52px;
    left: -10px;
}













