<div class="kotak_navbar">
    <div class="eterm__grid">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-5">
                    <div class="header_logo">
                        <a href="./">
                            <img src="assets/images/kotak-logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-7 d-flex justify-content-end align-items-center">
                    <div *ngIf="router.url != '/landing'">
                        <div class="header_item quote">QUOTE ID: <br> 667356FG
                        </div>
                    </div>
                    <div *ngIf="router.url === '/landing'">
                        <button class="header_item header_item_text errorMsg">Continue application</button>
                    </div>

                    <div class="header_item btn-group">
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/email.png" alt="">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <div class="d-flex justify-content-start align-items-center header-link">
                                        <div class="mr-1">Email: </div>
                                        <div class="">
                                            <a href="mailto:kli.einsurance@kotak.com">
                                                kli.einsurance@kotak.com
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header_item btn-group">
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/contact.png" alt="">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <div class="d-flex justify-content-start align-items-center header-link" style="min-width:190px;">
                                        <div class="mr-1">Customer Care: </div>
                                        <div class="">
                                            <a href="tel:+7506144444">                                        
                                                750-614-4444
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>