button.payingStatuses:last-child .label-paying .hightlight_green {
    color: #727272;
}

.dropdown_head {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 6px;
}

.dropdown_para {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    white-space: normal;
}

.showNestedPopover {
    padding: 14px 4px 14px 22px;
}

.popover {
    background: #FAFAFA;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    padding: 20px;
    right: 0;
    top: 0;
    position: absolute;
}

.customDD .popover {
    left: calc(-100% + 15px);
}

.dropdown_list {
    position: relative;
    padding: 0 !important;
}

.moreInfo {
    min-width: 40px;
    background: #FAFAFA;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header {
    padding: 16px 0;
}

.border-left {
    padding: 10px 0;
}

.customBody {
    max-height: 60vh;
    overflow-y: auto;
}



@media (max-width: 767px) {
    .fixed_calculated_amount {
        margin: 170px 0;
    }

    .form_row {
        margin-bottom: 24px !important;
    }

    label.label_sm,
    *::placeholder {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .inputFeild {
        padding-right: 38px;
    }
}

@media (min-width: 400px) and (max-width: 767px) {
    .inputFeild {
        padding-right: 30px;
    }
}

@media (min-width: 1120px) { 
    .col-6 {
        flex: none !important;
        max-width: none;
    }
}