.mb-32 {
    margin-bottom: 32px;
}


/* Form Elements */

@media (min-width: 1120px) {
    .col-xl_20,
    .col-lg_20 {
        width: 20%;
    }
    .inputFeild {
        width: 98%;
    }
}

@media (max-width: 767px) {
    .fixed_calculated_amount {
        margin: 12px 0;
    }
    .kotak_btn_group {
        padding: 22px 0;
    }
}

.tooltipCustom .inputFeild.dropdown-toggle:focus-within~.tooltiptextCustom,
.tooltipCustom .inputFeild:focus-within~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -66px;
    left: 0px;
}

.errorInput {
    border: 1px solid #ee1d24!important;
}

@media (max-width: 767px) {
    .form_row {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 300px) and (max-width: 374px) {
    label {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .inputFeild {
        padding-right: 48px;
    }
    *::placeholder {
        white-space: nowrap;
        width: 78px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    label {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    *::placeholder {
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .inputFeild {
        padding-right: 30px;
    }
}

@media (min-width: 1120px) {
    .col-6 {
        flex: none !important;
        max-width: none;
    }
}

.sub_header_title {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    white-space: nowrap;
    margin: auto;
}

.sub_header .header_content {
    width: 577px;
}

.caption {
    width: 30%;
    text-align: center;
    border-right: 1px solid #B3B3B3;
}

.caption.gender {
    width: 15%;
    text-align: center;
}

.edit_feilds button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003366;
    display: flex;
    justify-content: center;
    margin: auto;
}

.caption.edit_feilds {
    width: 20%;
}

@media (max-width: 767px) {
    .sub_header .header_content {
        width: 100%;
    }
    .caption.edit_feilds {
        width: 16%;
    }
    .caption,
    .caption.gender {
        text-align: text;
    }
    .caption {
        width: 34%;
    }
}

@media (min-width: 300px) and (max-width: 360px) {
    .caption {
        white-space: nowrap;
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }
    .caption.edit_feilds {
        width: 15%;
    }
    .caption.gender {
        width: 13%;
        text-align: left;
    }
}

ul.radioList li {
    display: inline-block;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 8px;
    border: 1px solid #D6D6D6;
    margin-right: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 50%;
    line-height: 16px;
    color: #757575;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.customBody {
    max-height: 50vh;
    overflow-y: auto;
}

.video_player {
    background-color: #000;
    height: calc(100vh - 200px);
    padding: 32px;
    position: relative;
    max-height: 500px;
}
.modal-body, .modal-body iframe {
    height: 100%;
    width: 100%;
}

.modal-dialog {
    position: relative;
}

button.close__button {
    position: absolute;
    right: -6%;
    top: -10%;
}

.video_block {
    background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, #161616 89.06%);
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    min-height: 232px;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play_btn {
    margin-bottom: 30px;
}

.video_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}