<div class="main__container">
    <app-sub-header></app-sub-header>

    <div class="eterm__grid border_sm_bottom">
        <div class="space__container pb-0">
            <h4 class="main_heading">We’d like to know more about you</h4>

            <form [formGroup]="eligibilityCriteriaForm">
                <div class="row">
                    <!-- Annual income Input-->
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Annual income</label>
                            <div class="tooltipCustom input rupeeF" placement="top-left" container="body" triggers="click:blur" ngbTooltip="Your total earnings in one year from all sources" tooltipClass="toolTipCustomClass" style="margin-bottom: 24px;">
                                <input type="text" class="inputFeild" placeholder="Enter Annual income" value="" style="margin-bottom: 0;" formControlName="income" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('income')?.hasError('required') }" (keypress)="isNumberKey($event)"
                                    (keyup)="inWords()">
                                <label class="rupee" style="width: auto;"> ₹ </label>

                                <p class="input-result">{{outputWords}}</p>
                                <p class='errorMsg' *ngIf="formSubmitted && eligibilityCriteriaForm.get('income')?.hasError('required')">
                                    Income field is required </p>
                            </div>

                        </div>
                    </div>

                    <!-- Occupation Input -->
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Occupation</label>
                            <div placement="top-left" triggers="click:blur" ngbTooltip="What do you do for living?" container="body" tooltipClass="toolTipCustomClass">
                                <div ngbDropdown class="customDD tooltipCustom input">
                                    <input class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('occupation')?.hasError('required') }" readonly ngbDropdownToggle formControlName="occupation" placeholder="Select occupation" required>
                                    <span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let occupation of occupationStatuses" value="occupation.value" (click)="assignDropdownVal('occupation', occupation.label)">{{ occupation.label }}</button>
                                    </div>
                                </div>
                            </div>
                            <p class='errorMsg occupation-err' *ngIf="formSubmitted && eligibilityCriteriaForm.get('occupation')?.hasError('required')">Occupation Status field is required
                            </p>
                        </div>
                    </div>

                    <!-- Education Input -->
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Education</label>
                            <div placement="top-left" triggers="click:blur" ngbTooltip="What’s your education qualification?" container="body" tooltipClass="toolTipCustomClass">
                                <div ngbDropdown class="customDD tooltipCustom input">
                                    <input class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('education')?.hasError('required') }" readonly ngbDropdownToggle formControlName="education" placeholder="Select education" required>
                                    <span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let education of educationStatuses" value="education.value" (click)="assignDropdownVal('education', education.label)">{{ education.label }}</button>
                                    </div>
                                </div>
                            </div>
                            <p class='errorMsg education-err' *ngIf="formSubmitted && eligibilityCriteriaForm.get('education')?.hasError('required')">Annual education Status field is required
                            </p>
                        </div>
                    </div>

                    <!-- Pincode Input -->
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Pincode</label>
                            <div placement="top-left" triggers="click:blur" container="body" ngbTooltip="Your Pincode allows us to connect with you with regards to your policy issuance and claim settlement" tooltipClass="toolTipCustomClass">
                                <div class="tooltipCustom input">
                                    <input type="text" class="inputFeild" pattern="\d*" placeholder="Enter pincode" (keypress)="isNumberKey($event)" formControlName="pincode" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('pincode')?.hasError('required') }">

                                    <p class='errorMsg' *ngIf="formSubmitted && eligibilityCriteriaForm.get('pincode')?.hasError('required')">
                                        pincode field is required </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Resident status Input -->
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Resident status</label>
                            <div placement="top-left" triggers="click:blur" ngbTooltip="What’s your nationality?" container="body" tooltipClass="toolTipCustomClass">
                                <div ngbDropdown class="customDD tooltipCustom input">
                                    <input class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('nationality')?.hasError('required') }" readonly ngbDropdownToggle formControlName="nationality" placeholder="Select nationality" required>
                                    <span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let nationality of nationalityStatuses" value="nationality.value" (click)="assignDropdownVal('nationality', nationality.label)">{{ nationality.label }}</button>
                                    </div>
                                </div>
                            </div>
                            <p class='errorMsg nationality-err' *ngIf="formSubmitted && eligibilityCriteriaForm.get('nationality')?.hasError('required')">Nationality Status field is required
                            </p>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="space__container pt-2 border_bottom bottom_sm_fixed">
        <div class="kotak_btn_group">
            <div class="eterm__grid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="secondary_btn" (click)="back()">BACK</button>
                                <div class="p-2"></div>
                                <button type="button" class="primary_btn" (click)="navigate()">PROCEED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="eterm__grid">
        <div class="space__container">
            <div class="d-flex justify-content-between align-items-center mb-32">
                <h4 class="main_heading mb-0">Reasons to love this product</h4>
                <div class="download_brochure d-xl-block d-lg-block d-md-block d-none"><img src="assets/images/download-brochure.png" alt="">Download brochure</div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-12" *ngIf="reasonsArray?.length">
                    <button class="video_block" (click)="openModal()">
                        <div class="play_btn">
                            <img src="assets/images/video-play-btn.svg" alt="">
                        </div>
                    
                        <p class="video_title">A step by step guide to buy your insurance</p>
                    </button>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-12" *ngFor="let item of reasonsArray">
                    <app-detail-block [reasonsArray]="item"></app-detail-block>
                </div>
            </div>

            <div class="fixed_calculated_amount"></div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Oops! Sorry</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true"><img src="assets/images/cross-sign.svg" alt=""></span>
        </button>
    </div>
    <div class="modal-body">
        <p>Minimum eligibility criteria for this plan is 3 lakhs</p>
        <p>This plan is only avaialble for Indian residents</p>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="primary_btn" (click)="goHome()">GO TO HOME</button>
    </div>
</ng-template>


<ng-template #videoplayer let-modal>
    <button type="button" class="close__button" aria-label="Close" (click)="close()">
        <span aria-hidden="true"><img src="assets/images/cross-sign-white.svg" alt=""></span>
    </button>
    <div class="video_player">
        <div class="modal-body p-0">
            <iframe [src]="safeSrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="overflow:hidden;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</ng-template>