<div class="main__container">
    <div class="container-fluid">
        <div class="space__container">

            <form [formGroup]="addOnsForm">
                <div class=" row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-12 border_bottom">
                        <h4 class="main_heading">Enhance your term insurance cover with add-on benefits</h4>

                        <div class="add_on_container d-xl-block d-lg-block d-md-block d-none">
                            <div class="add_on_card popular__tag d-flex align-items-start">
                                <div class="benefit_icon">
                                    <img src="assets/images/life-secure.svg" alt="">
                                </div>
                                <div class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center pb-2">
                                            <h5 class="infoLabel mb-0">Life Cover</h5>
                                            <div class="tooltipCustom input" placement="top-left" triggers="click:blur" container="body" ngbTooltip="The plan gives a benefit of a  complete waiver in case of permanent disability" tooltipClass="toolTipCustomClass">
                                                <span class="infoIcon lifeSecure">
                                                    <img src="assets/images/info.svg" alt="">
                                                </span>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4>₹ 236 / <span class="year_text">Year</span></h4>

                                            <div class="tooltipCustom" placement="bottom-right" triggers="click:blur" container="body" ngbTooltip="7 out of 10 people opt for this plan" tooltipClass="toolTipCustomClass">
                                                <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                    <input class="toggleInput" type="checkbox" checked />
                                                    <div class="toggle-tick"></div>
                                                </div>
                                                <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                    <p class="mb-0">7 out of 10 people opt for this plan</p>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <p class="desc__text w-70">Get future premiums waived off in case of total and permanent disability.</p>
                                </div>
                            </div>

                            <div class="add_on_card d-flex align-items-start">
                                <div class="benefit_icon">
                                    <img src="assets/images/life-plus.svg" alt="">
                                </div>
                                <div class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center  pb-2">
                                            <h5 class="infoLabel mb-0">Life Plus</h5>
                                            <div class="tooltipCustom input" placement="top-left" triggers="click:blur" container="body" ngbTooltip="Receive 100% of the coverage + accidental death benefit of up to ₹1 Cr" tooltipClass="toolTipCustomClass">
                                                <span class="infoIcon lifePlan">
                                                    <img src="assets/images/info.svg" alt="">
                                                </span>
                                                <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                    <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, along with a death benefit of up to ₹1 Cr in case of accidental death.</p>
                                                </div> -->
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4>₹ 244 / <span class="year_text">Year</span></h4>

                                            <div class="tooltipCustom">
                                                <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                    <input class="toggleInput" type="checkbox" />
                                                    <div class="toggle-tick"></div>
                                                </div>
                                                <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">7 out of 10 people opt for this plan</p>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <p class="desc__text w-70">Receive an additional cover up to ₹1 Cr in case of accidental death.</p>
                                </div>
                            </div>

                            <div class="add_on_card d-flex align-items-start">
                                <div class="benefit_icon">
                                    <img src="assets/images/critical-illness.svg" alt="">
                                </div>
                                <div class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center  pb-2">
                                            <h5 class="infoLabel mb-0">Critical Illness Plus</h5>
                                            <div class="tooltipCustom input" placement="top-left" triggers="click:blur" container="body" ngbTooltip="Receive 100% of the coverage on specified critical illnesses." tooltipClass="toolTipCustomClass">
                                                <span class="infoIcon illnessPlus">
                                                    <img src="assets/images/info.svg" alt="">
                                                </span>
                                                <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                    <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, if diagnosed with specified critical illnesses.</p>
                                                </div> -->
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4>₹ 244 / <span class="year_text">Year</span></h4>

                                            <div class="tooltipCustom">
                                                <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                    <input class="toggleInput" type="checkbox" />
                                                    <div class="toggle-tick"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="desc__text mb-4 w-70">Safeguard yourself against 37 critical illnesses.y</p>

                                    <div class="d-flex justify-flex-start align-items-center">
                                        <p class="desc__text" style="white-space: nowrap;">Coverage amount:</p>
                                        <h4 class="mb-0 mx-2"> ₹ </h4>
                                        <!-- <h4 class="mb-0">{{coverageAmount}}</h4> -->
                                        <div class="caption edit_feilds mx-3" style="border-right: none;">
                                            <!-- <button (click)="checkFreq(content)"><img src="assets/images/edit-button.svg" alt=""><span class="d-xl-block d-lg-block d-md-block d-none">Edit</span></button> -->
                                            <div class="select_lakhs_container" style="max-width: 200px; border: none;">
                                                <div class="btn-minus-plus" (click)="decrease()">
                                                    <img src="./assets/images/minus.svg" class="img-fluid">
                                                </div>
                                                <div class="select-lakh_input">
                                                    <input type="text" placeholder="0" formControlName="coverage" maxlength="12" (keypress)="isNumberKey($event)" (keyup)="numberWithCommas()">
                                                </div>
                                                <div class="btn-minus-plus" (click)="increase()">
                                                    <img src="./assets/images/plus.svg" class="img-fluid">
                                                    <div class="btnDisabled" *ngIf="plusDisabled"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="add_on_container d-xl-none d-lg-none d-md-none d-block">
                            <div class="add_on_card popular__tag d-flex align-items-start">
                                <div class="w-100">
                                    <div class="d-flex align-items-center">
                                        <div class="benefit_icon">
                                            <img src="assets/images/life-secure.svg" alt="">
                                        </div>
                                        <div>
                                            <h5 class="infoLabel mb-0">Life Cover
                                                <div class="tooltipCustom input" placement="top" triggers="click:blur" ngbTooltip="The plan gives a benefit of a  complete waiver in case of permanent disability" tooltipClass="toolTipCustomClass">
                                                    <span class="infoIcon">
                                                        <img src="assets/images/info.svg" alt="">
                                                    </span>
                                                    <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                        <p class="mb-0">Benefit from a complete waiver of future premium payments in case of permanent disability.</p>
                                                    </div> -->
                                                </div>
                                            </h5>
                                        </div>
                                    </div>

                                    <p class="desc__text" style="margin-left: 55px;">Get future premiums waived off in case of total and permanent disability.</p>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>₹ 236 / <span class="year_text">Year</span></h4>

                                        <div class="tooltipCustom" placement="bottom-right" triggers="click:blur" ngbTooltip="7 out of 10 people opt for this plan" tooltipClass="toolTipCustomClass">
                                            <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                <input class="toggleInput" type="checkbox" checked/>
                                                <div class="toggle-tick"></div>
                                            </div>
                                            <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">7 out of 10 people opt for this plan</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="add_on_card d-flex align-items-start">
                                <div class="w-100">
                                    <div class="d-flex align-items-center">
                                        <div class="benefit_icon">
                                            <img src="assets/images/life-plus.svg" alt="">
                                        </div>
                                        <div>
                                            <h5 class="infoLabel mb-0">Life Plus
                                                <div class="tooltipCustom input" placement="top" triggers="click:blur" ngbTooltip="Receive 100% of the coverage + accidental death benefit of up to ₹1 Cr" tooltipClass="toolTipCustomClass">
                                                    <span class="infoIcon lifePlan">
                                                        <img src="assets/images/info.svg" alt="">
                                                    </span>
                                                    <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                        <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, along with a death benefit of up to ₹1 Cr in case of accidental death.</p>
                                                    </div> -->
                                                </div>
                                            </h5>
                                        </div>
                                    </div>

                                    <p class="desc__text" style="margin-left: 55px;">Receive an additional cover up to ₹1 Cr in case of accidental death.</p>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>₹ 244 / <span class="year_text">Year</span></h4>

                                        <div class="tooltipCustom">
                                            <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                <input class="toggleInput" type="checkbox" />
                                                <div class="toggle-tick"></div>
                                            </div>
                                            <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                            <p class="mb-0">7 out of 10 people opt for this plan</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="add_on_card d-flex align-items-start">
                                <div class="w-100">
                                    <div class="d-flex align-items-center">
                                        <div class="benefit_icon">
                                            <img src="assets/images/critical-illness.svg" alt="">
                                        </div>
                                        <div>
                                            <h5 class="infoLabel mb-0">Critical Illness Plus
                                                <div class="tooltipCustom input" placement="top-right" triggers="click:blur" ngbTooltip="Receive 100% of the coverage on specified critical illnesses." tooltipClass="toolTipCustomClass">
                                                    <span class="infoIcon  illnessPlus">
                                                        <img src="assets/images/info.svg" alt="">
                                                    </span>
                                                    <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                                        <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, if diagnosed with specified critical illnesses.</p>
                                                    </div> -->
                                                </div>
                                            </h5>
                                        </div>
                                    </div>

                                    <p class="desc__text mb-3" style="margin-left: 55px;">Safeguard yourself against 37 critical illnesses.</p>

                                    <div class="d-flex justify-flex-start align-items-center">
                                        <p class="desc__text" style="white-space: nowrap;">Coverage amount:</p>
                                        <h4 class="mb-0 mx-2"> ₹ </h4>
                                        <!-- <h4 class="mb-0">{{coverageAmount}}</h4> -->
                                        <div class="caption edit_feilds" style="border-right: none;">
                                            <!-- <button (click)="checkFreq(content)"><img src="assets/images/edit-button.svg" alt=""><span class="d-xl-block d-lg-block d-md-block d-none">Edit</span></button> -->
                                            <div class="select_lakhs_container" style="max-width: 200px; border: none;">
                                                <div class="btn-minus-plus" (click)="decrease()">
                                                    <img src="./assets/images/minus.svg" class="img-fluid">
                                                </div>
                                                <div class="select-lakh_input">
                                                    <input type="text" placeholder="0" formControlName="coverage" maxlength="12" (keypress)="isNumberKey($event)" (keyup)="numberWithCommas()">
                                                </div>
                                                <div class="btn-minus-plus" (click)="increase()">
                                                    <img src="./assets/images/plus.svg" class="img-fluid">
                                                    <div class="btnDisabled" *ngIf="plusDisabled"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>₹ 244 / <span class="year_text">Year</span></h4>

                                        <div class="tooltipCustom">
                                            <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                <input class="toggleInput" type="checkbox" />
                                                <div class="toggle-tick"></div>
                                            </div>
                                            <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                            <p class="mb-0">7 out of 10 people opt for this plan</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->

                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Choose coverage amount</h4>
                        <button type="button" class="close" aria-label="Close" (click)="close()">
                      <span aria-hidden="true"><img src="assets/images/cross-sign.svg" alt=""></span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="form_row w-100 mb-3">
                            <label style="color:#757575;">Coverage amount</label>
                            <div class="select_lakhs_container">
                                <div class="btn-minus-plus" (click)="decrease()">
                                    <img src="./assets/images/minus.svg" class="img-fluid">
                                </div>
                                <div class="select-lakh_input">
                                    <input type="text" placeholder="0" formControlName="coverage" maxlength="12" (keypress)="isNumberKey($event)" (keyup)="numberWithCommas()">
                                    <label> ₹ </label>
                                </div>
                                <div class="btn-minus-plus" (click)="increase()">
                                    <img src="./assets/images/plus.svg" class="img-fluid">
                                    <div class="btnDisabled" *ngIf="plusDisabled"></div>
                                </div>
                            </div>
                        </div>
                        <p class="mb-0">Get this additional cover for an added premium of <b style="color: #000000;">₹ 5,144/year</b></p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="primary_btn" (click)="updateCoverage()">ADD</button>
                        </div>
                    </div>
                </ng-template>

            </form>

        </div>
    </div>

    <div class="bottom_sm_fixed">
        <app-calculated-amount [buttons]="buttons" (proceedWithStatus)="proceed()"></app-calculated-amount>
    </div>

    <div class="fixed_calculated_amount"></div>


</div>