<button type="button" class="close__button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true"><img src="assets/images/cross-sign-white.svg" alt=""></span>
</button>
<div class="video_player">
    <div class="modal-body p-0">
        <iframe [src]="safeSrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="overflow:hidden;" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
    </div>
</div>
