<div class="main__container">
    <div class="eterm__grid">
        <div class="space__container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-12">
                    <div class="border_bottom">
                        <div class="d-flex align-items-center main_heading">
                            <img src="assets/images/more-details.svg" alt="">
                            <h4 class="d-xl-block d-lg-block d-md-block d-none">Enhance your term insurance cover with add-on benefits</h4>
                            <h4 class="d-xl-none d-lg-none d-md-none d-block">More details about you</h4>
                        </div>

                        <form [formGroup]="moreDetailsForm">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div class="form_row">
                                        <label>Name</label>
                                        <div class="tooltipCustom input">
                                            <input type="text" class="inputFeild" placeholder="Enter Name" formControlName="name" [ngClass]="{'errorInput': formSubmitted && moreDetailsForm.get('name')?.hasError('required') }">

                                            <p class='errorMsg' *ngIf="formSubmitted && moreDetailsForm.get('name')?.hasError('required')">
                                                Name field is required </p>
                                            <div class="tooltiptextCustom" style="max-width: 280px;">
                                                <p class="mb-0">Enter your name</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div class="form_row">
                                        <label>PAN number</label>
                                        <div class="tooltipCustom input">
                                            <input type="text" class="inputFeild" placeholder="Enter PAN number" formControlName="pan" [ngClass]="{'errorInput': formSubmitted && moreDetailsForm.get('pan')?.hasError('required') }">

                                            <p class='errorMsg' *ngIf="formSubmitted && moreDetailsForm.get('pan')?.hasError('required')">
                                                PAN number field is required </p>
                                            <div class="tooltiptextCustom" style="max-width: 280px;">
                                                <p class="mb-0">Enter your PAN number</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div class="form_row">
                                        <label>Email address</label>
                                        <div class="tooltipCustom input">
                                            <input type="text" class="inputFeild" placeholder="Enter email" formControlName="email" [ngClass]="{'errorInput': formSubmitted && moreDetailsForm.get('email')?.hasError('required') }">

                                            <p class='errorMsg' *ngIf="formSubmitted && moreDetailsForm.get('email')?.hasError('required')">
                                                email field is required </p>
                                            <div class="tooltiptextCustom" style="max-width: 280px;">
                                                <p class="mb-0">To communicate policy details with you</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div class="form_row">
                                        <label>Mobile number</label>
                                        <div class="tooltipCustom input">
                                            <input type="text" maxlength="10" class="inputFeild" placeholder="Enter mobile" formControlName="mobile" [ngClass]="{'errorInput': formSubmitted && moreDetailsForm.get('mobile')?.hasError('required') }" readonly>

                                            <p class='errorMsg' *ngIf="formSubmitted && moreDetailsForm.get('mobile')?.hasError('required')">
                                                mobile field is required </p>
                                            <div class="tooltiptextCustom" style="max-width: 280px;">
                                                <p class="mb-0">To validate otp and communication</p>
                                            </div>
                                            <div class="disable-field"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div class="form_row">
                                        <label class="label_sm">Alternate mobile number</label>
                                        <div class="tooltipCustom input">
                                            <input type="text" class="inputFeild" pattern="\d*" maxlength="10" placeholder="Enter Alternate mobile number" formControlName="altMobile" [ngClass]="{'errorInput': formSubmitted && moreDetailsForm.get('altMobile')?.hasError('required') }">

                                            <p class='errorMsg' *ngIf="formSubmitted && moreDetailsForm.get('altMobile')?.hasError('required')">
                                                Alternate mobile number field is required </p>
                                            <div class="tooltiptextCustom" style="max-width: 280px;">
                                                <p class="mb-0">Enter your Alternate mobile number</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <h6 class="mb-4">You will not be able to edit mobile number and email after this page</h6>

                        <div class="form_row">
                            <div class="radio__group mb-3">
                                <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                                <div class="d-flex">
                                    <div>
                                        <input class="landingInput"  type="checkbox" name="mtd" class="isPermAddSame" [(ngModel)]='acceptPolicy' [ngModelOptions]="{standalone: true}" disabled>
                                        <span class="checkmark"></span>
                                    </div>
                                    <span class="caption mx-4" style="margin-top: -4px; font-size: 14px;">By sharing my details, I authorize Kotak Life personnel to contact me for further correspondence and processing.</span>
                                </div>
                                </label>
                                <p class='errorMsg' *ngIf="formSubmitted && !acceptPolicy">
                                    * This field is required </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="space__container p-0 bottom_sm_fixed">
        <app-calculated-amount [buttons]="buttons" (proceedWithStatus)="statusNavigate()"></app-calculated-amount>
    </div>


    <div class="text-center">
        <div class="proceed_to_form pt-0 mt-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <div class="proceedContainer" placement="top-left" ngbTooltip="I will fill the proposal form first and then make the Payment" triggers="click:blur" container="body" [autoClose]="'outside'" tooltipClass="toolTipCustomClass">
                            PROCEED TO FORM <span><img src="assets/images/info-icon.svg" alt="" class="infoIcon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fixed_calculated_amount"></div>
</div>