<div class="modal-header">
    <h4 class="modal-title">Oops! Sorry</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"><img src="assets/images/cross-sign.svg" alt=""></span>
    </button>
  </div>
  <div class="modal-body">
    <p>Minimum eligibility criteria for this plan is 3 lakhs</p>
    <p>This plan is only avaialble for Indian residents</p>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="primary_btn" (click)="goHome()">GO TO HOME</button>
  </div>

  