<button class="video_block" (click)="openModal()">
    <div class="play_btn">
        <img src="assets/images/video-play-btn.svg" alt="">
    </div>

    <p class="video_title">A step by step guide to buy your insurance</p>
</button>
