<div class="card">
    <div class="product_sceme">
        <img [src]="reasonsArray.icon" alt="">
    </div>
    <h6>{{reasonsArray.title}}</h6>
    <p class="text-center">{{reasonsArray.desc}}</p>
</div>
