<div class="main__container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 px-sm-0">
                <div class="home__layout">
                    <div class="home_layout_left">
                        <div class="carousel__container">
                            <owl-carousel-o [options]="customOptions" class="home-carousel">
                                <ng-template carouselSlide>
                                    <h2>₹ 1 Crore Life cover @ <br> less than Rs.15 per day*</h2>
                                    <p>Protect your family now!</p>
                                    <div class="d-xl-block d-lg-block d-md-block d-none">
                                        <img src="./assets/images/illustration-1.svg" class="img-fluid mx-auto d-block">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <h2>Additional discount up to <br> 1% for online customers</h2>
                                    <p>Avail this offer now</p>

                                    <div class="d-xl-block d-lg-block d-md-block d-none">
                                        <img src="./assets/images/illustration-2.svg" class="img-fluid mx-auto d-block">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <h2>Our claim settlement ratio <br>for FY 20-21 is 98.50%</h2>
                                    <p>As per latest reports</p>

                                    <div class="d-xl-block d-lg-block d-md-block d-none">
                                        <img src="./assets/images/illustration-3.svg" class="img-fluid mx-auto d-block">
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                    <div class="home_layout_right">
                        <form [formGroup]="landingPageForm" autocomplete="off">
                            <div class="row">
                                <div class="col-12 customBSFormElements mb-3">
                                    <div class="customPopover form-floating mb-1" placement="top-left" container="body" triggers="click:blur" ngbTooltip="Name should be as per your Aadhaar or PAN" [autoClose]="'outside'" tooltipClass="toolTipCustomClass" [ngClass]="{'vaidateTick':landingPageForm.controls.name.valid}">
                                        <input type="text" class="form-control landingInput" id="fullNameInput" placeholder="Full name" formControlName="name" [ngClass]="{'errorInput': (formSubmitted && landingPageForm.get('name')?.hasError('required')) || (!landingPageForm.get('name')?.hasError('required') && landingPageForm.get('name')?.hasError('pattern')) }">
                                        <label class="d-none" for="fullNameInput">Full name</label>
                                    </div>
                                    <p class='errorMsg' *ngIf="formSubmitted && !landingPageForm.get('name')?.hasError('required') && landingPageForm.get('name')?.hasError('pattern')">
                                        Please enter valid full name
                                    </p>

                                    <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('name')?.hasError('required')">
                                        Name field is required
                                    </p>
                                </div>



                                <div class="col-12 customBSFormElements mb-3">
                                    <div class="form-floating mb-1" placement="top-left" triggers="click:blur" container="body" ngbTooltip="Your birthdate will help us to calculate your exact premium" tooltipClass="toolTipCustomClass dob_landing">
                                        <input type="text" class="form-control landingInput" id="DobInput" [ngClass]="{'errorInput': formSubmitted && landingPageForm.get('birthdate')?.hasError('required') }" class="inputFeild landingInput date-icon" placeholder="Date of birth (DD/MM/YYYY)"
                                            formControlName="birthdate" #myInput>
                                        <label class="d-none" for="DobInput" class="d-none">Date of birth (DD/MM/YYYY)</label>
                                    </div>
                                    <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('birthdate')?.hasError('dateValidator')">
                                        Please enter a valid date</p>
                                </div>

                                <div class="col-xl-10 col-lg-10 col-md-12 col-12">
                                    <div class="row justify-content-between">
                                        <div class="col-xl-5 col-lg-5 col-md-6 col-6">
                                            <div class="form_row">
                                                <div class="d-flex align-items-center mb-2">
                                                    <label class="infoLabel mb-0">Gender</label>
                                                    <div class="tooltipCustom input" placement="top-left" container="body" triggers="click:blur" ngbTooltip="Male/Female" tooltipClass="toolTipCustomClass dob_landing">
                                                        <span class="infoIcon">
                                                          <img class="py-0" src="assets/images/info.svg" alt="">
                                                      </span>
                                                    </div>
                                                </div>

                                                <ul class="radioList">
                                                    <li class="gender white-circle" [ngClass]="{'active': gender === 'male'}" (click)="setGender('male');"><span>Male</span>
                                                    </li>
                                                    <li class="gender white-circle" [ngClass]="{'active': gender === 'female'}" (click)="setGender('female');">
                                                        <span>Female</span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xl-5 col-lg-5 col-md-6 col-6">
                                            <div class="form_row">
                                                <div class="d-flex align-items-center mb-2">
                                                    <label class="infoLabel mb-0">Tobacco user</label>
                                                    <div class="tooltipCustom tabacco_landing input" placement="top-right" container="body" triggers="click:blur" ngbTooltip="If you smoke frequently or occasionally, please mention as ‘Yes’" tooltipClass="toolTipCustomClass tabacco_landing">
                                                        <span class="infoIcon">
                                                          <img class="py-0" src="assets/images/info.svg" alt="">
                                                      </span>
                                                    </div>
                                                </div>

                                                <ul class="radioList">
                                                    <li class="tobacco  white-circle" [ngClass]="{'active': tobacco === 'yes'}" (click)="setTobacco('yes');"><span>Yes</span>
                                                    </li>
                                                    <li class="tobacco  white-circle" [ngClass]="{'active': tobacco === 'no'}" (click)="setTobacco('no');">
                                                        <span>No</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 customBSFormElements mb-3">
                                    <div class="form-floating mb-1" placement="top-left" triggers="click:blur" container="body" ngbTooltip="Your contact details will help connect with you directly" tooltipClass="toolTipCustomClass" [ngClass]="{'vaidateTick':landingPageForm.controls.phoneNumber.valid}">
                                        <input type="text" maxlength="10" pattern="\d*" class="form-control landingInput" id="mobileInput" placeholder="Enter 10 digit mobile no." value="" onKeyPress="if(this.value.length==10) return false;" formControlName="phoneNumber" (keypress)="isNumberKey($event)"
                                            [ngClass]="{'errorInput':  formSubmitted && landingPageForm.get('phoneNumber')?.hasError('required') }">
                                        <label class="d-none" for="mobileInput">Enter 10 digit mobile no.</label>
                                    </div>
                                    <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('phoneNumber')?.hasError('required')">
                                        Mobile number field is required </p>
                                </div>

                                <div class="col-12 customBSFormElements mb-3">
                                    <div class="form-floating mb-1" [ngClass]="{'vaidateTick':landingPageForm.controls.emailId.valid}" placement="top-left" container="body" triggers="click:blur" ngbTooltip="Your policy details will be shared on this email id" tooltipClass="toolTipCustomClass">
                                        <input type="email" class="form-control landingInput" id="emailInput" [(ngModel)]="emaildModel" placeholder="Enter email" value="reshma.w@gmail.com" formControlName="emailId" [ngClass]="{'errorInput': formSubmitted && landingPageForm.get('emailId')?.hasError('email') || formSubmitted && landingPageForm.get('emailId')?.hasError('required') }"
                                            (keyup)="checkEmailDomain()" autocomplete="off" (focusout)="offEmailDomain($event)">
                                        <label class="d-none" for="emailInput">Enter email</label>
                                    </div>
                                    <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('emailId')?.hasError('required')">
                                        Email address field is required </p>
                                    <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('emailId')?.hasError('email')">
                                        Please enter valid email address</p>
                                    <div class="mail-list" *ngIf="isDomain">
                                        <ul>
                                            <li *ngFor="let domain of domains" (click)="domainClick(domain)">@{{domain}}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_row">
                                        <div class="radio__group mb-3">
                                            <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                                              <div class="d-flex">
                                                  <div class="">
                                                      <input class="landingInput"  type="checkbox" name="mtd" class="isPermAddSame" [(ngModel)]='acceptPolicy' [ngModelOptions]="{standalone: true}">
                                                      <span class="checkmark"></span>
                                                  </div>
                                                  <span class="caption mx-4" style="margin-top: -4px; text-transform: none;">By submitting this form, I agree to KLI and its representatives contacting me through call, SMS, email or WhatsApp even if I am registered under NDNC. I also agree that I have read and understood the Privacy policy and agree to abide by the same</span>
                                              </div>
                                          </label>
                                            <p class='errorMsg' *ngIf="formSubmitted && !acceptPolicy">
                                                * This field is required </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="fixed_calculated_amount"></div>
                                <div class="col-12 text-center bottom_sm_fixed">
                                    <button class="primary_btn proceed__btn" (click)="navigate()">Proceed</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="terms__container d-xl-block d-lg-block d-md-block d-none">
        <div class="terms_inner_container">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-11 col-lg-11 col-12">
                        <div (click)="termClicked(showTerm)" class="divclass" style="padding-bottom: 0;">
                            <span style="width: 20px;height: 20px;">
                              <img src="assets/images/plus-button.png" *ngIf="!showTerm" alt=""
                                  style="width: 13.14px;height: 13.14px; margin: 0;">
                              <img src="assets/images/minus-button.png" *ngIf="showTerm" alt=""
                                  style="width: 13.14px;height: 13.14px; margin: 0;">
                          </span>
                            <h6 class="headerstyle" style="margin-bottom: 0 !important;">Terms & Conditions</h6>
                        </div>
                        <div id="divwrapfooter" class="warp-footer" style="height: auto;" *ngIf="showTerm">
                            <div class="warp-footer-inner foot-bg">
                                <div id="displayTC" style="display:block;">
                                    <ol id="TC">
                                        <li>This is an Individual, Non-Linked, Non-Par, Pure Protection Life Insurance Plan. *The above illustration is for a 18 year old healthy male, non-smoker who has opted for the Life Option with a 40 year policy term
                                            with regular premium payment mode, Level Recurring Payout Option and Sum Assured on Death of Rs.1 Crore. The per day premium is Rs.15 [Rs.5,400 Annualised Premium / 365 days = Rs.14.794]. The monthly premium
                                            of Rs. 475 is arrived at by applying the modal factor on the annual premium i.e. (5,400 X 8.8% = 475.2). The premium is assuming the policy is bought Online and the customer has not purchased any policy from
                                            Kotak Life Insurance. The above premium figures are exclusive of Goods and Services Tax and Cess. Goods and Services Tax and Cess thereon shall be charged as per the prevalent tax laws over and above the said
                                            premiums. For sub-standard lives, extra premium may be charged based on Kotak Life Insurance underwriting policy. For more details on risk factors, terms and conditions please read sales brochure carefully before
                                            concluding a sale.</li>
                                        <li>This is an Individual, Non-Linked, Non-Par, Pure Protection Life Insurance Plan. *The above illustration is for a 18 year old healthy male, non-smoker who has opted for the Life Option with a 40 year policy term
                                            with regular premium payment mode, Level Recurring Payout Option and Sum Assured on Death of Rs.1 Crore. The per day premium is Rs.15 [Rs.5,500 Annualised Premium / 365 days = Rs.15.068]. The monthly premium
                                            of Rs. 484 is arrived at by applying the modal factor on the annual premium i.e. ( 5,500 X 8.8% = 484). The premium is assuming the policy is bought Offline and the customer has not purchased any policy from
                                            Kotak Life Insurance. The above premium figures are exclusive of Goods and Services Tax and Cess. Goods and Services Tax and Cess thereon shall be charged as per the prevalent tax laws over and above the said
                                            premiums. For sub-standard lives, extra premium may be charged based on Kotak Life Insurance underwriting policy. For more details on risk factors, terms and conditions please read sales brochure carefully before
                                            concluding a sale.</li>
                                        <li><strong>Death Benefit:</strong>
                                            <ul>
                                                <li><strong>Plan Options:</strong> There are 3 plan options available under this plan as mentioned below. The plan option needs to be selected at inception of the policy and cannot be changed during the policy
                                                    term.
                                                    <ul>
                                                        <li><strong>Life -</strong> 100% of Sum Assured on Death shall be payable</li>
                                                        <li><strong>Life Plus - </strong>100% of Sum Assured on Death shall be payable plus Additional 100% of Basic Sum Assured shall be payable in case of death due to accident subject to maximum of Rs. 1
                                                            Crore
                                                        </li>
                                                        <li><strong>Life Secure - </strong>Waiver of base policy premiums shall happen on Total and Permanent Disability for the remaining policy term. Policy continues for death cover even after the Waiver
                                                            of premium on Total and Permanent Disability. Subsequently, if death happens during Policy Term, 100% of Sum Assured on Death shall be payable.</li>
                                                    </ul>
                                                </li>

                                                <li><strong>Pay-out options:</strong> There are 3 pay-out options available under the plan. The pay-out option needs to be selected at inception of the policy and cannot be changed during the policy term.
                                                    <ul>
                                                        <li><strong>Immediate- </strong>In case of the death of the Life Insured, pay-out of the entire ‘Sum Assured on Death’ shall be made to Nominee / Beneficiary.</li>
                                                        <li><strong>Level Recurring- </strong>In case of death of the Life Insured, Lump sum pay-out of 10% of ‘Sum Assured on Death’ at the time of claim settlement shall be made to Nominee and 6% of Sum Assured
                                                            on Death shall be payable every year for 15 years, with the first such payment made one year after the date of Life Insured’s death.</li>
                                                        <li><strong>Increasing Recurring- </strong>In case of death of the Life Insured, Lump sum pay-out of 10% of ‘Sum Assured on Death’ on the date of death at the time of claim settlement shall be made to
                                                            the Nominee and 6% of Sum Assured on Death shall be payable at the end of the first year from the date of death, thereafter the payout shall continue to increase by 10% every year (simple interest
                                                            rate) The instalments shall be payable at the end of every year for 15 years starting from one year after the date of death.</li>
                                                    </ul>
                                                </li>

                                                <li>The instalment pay-out under Level Recurring and Increasing Recurring may be taken monthly instead of yearly.
                                                    <ol>
                                                        <li>Sum Assured on death: In case of Life Insured’s death during the policy term, the Nominee shall receive the Sum Assured on death as mentioned below:
                                                            <div class="card p-2">
                                                                <div class="container-fluid">
                                                                    <div class="row border_bottom">
                                                                        <div class="col-6">For Regular and Limited Premium</div>
                                                                        <div class="col-6"> For Single Premium</div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-6">Sum Assured on death shall be highest of Sum Assured on death shall be higher of the following:</div>
                                                                        <div class="col-6"> Basic Sum Assured OR</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-6">Sum Assured+ OR</div>
                                                                        <div class="col-6">125% of the Single Premium paid</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-6">11 times Annualised Premium@ OR</div>
                                                                        <div class="col-6"></div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-6">105% of all premiums paid++ till the date of death</div>
                                                                        <div class="col-6"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            +Sum Assured shall mean Basic Sum Assured adjusted for decrease in Basic Sum Assured, in case Step-down option is exercised by the policyholder.
                                                            <br> @Annualised Premium is the premium payable in a policy year, excluding the underwriting extra premiums, loadings for modal premium, Goods and Services Tax and Cess, as applicable and Rider
                                                            Premium, if any.
                                                            <br><br> ++This shall include all extra premium paid under the policy.

                                                        </li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><strong>Surrender Value:</strong> Limited Premium Payment:
                                            <br> For policies with Premium Payment Term of less than 10 years, the policy will acquire Surrender Value provided premiums due for at least 2 consecutive policy years have been paid in full. For policies with
                                            Premium Payment Term of 10 years or more, the policy will acquire Surrender Value provided premiums due for at least 3 consecutive policy years have been paid in full. Single pay policies will acquire Surrender
                                            Value immediately after the payment of Single Premium. For Regular pay policy, Surrender value is not available.
                                            <br><br> For more details, please refer the Product brochure.
                                        </li>
                                        <li><strong>Reduced Paid-Up:</strong>
                                            <ul>
                                                <li>Regular premium paying policy shall not be eligible for Reduced Paid Up.</li>
                                                <li>Single premium paying policy shall become fully Paid-Up after payment of premium.</li>
                                                <li>For Limited Premium Paying policy, after the policy acquires Surrender Value, if the subsequent premiums are not paid within the grace period, the Base Policy along with Riders (if any), subject to the Terms
                                                    and Conditions of the Riders, shall be converted into a Reduced Paid-Up policy by default, by converting Sum Assured on death into Reduced Paid-Up Sum Assured on death.</li>
                                            </ul>
                                        </li>
                                        <li>There is no maturity benefit payable under this plan.</li>
                                        <li>A lapsed or Reduced Paid-Up policy can be revived with or without riders within 5 years from the date of the first unpaid premium. The Policyholder can revive the Policy without evidence of good health on payment
                                            of the outstanding premiums and interest charge, if the payment is made within six months from the date of the first unpaid premium. Thereafter to revive the policy evidence of good health would be required
                                            along with payment of the outstanding premiums and interest charge. On revival, all benefits under the policy will be reinstated.</li>
                                        <li>Kotak Critical Illness plus Benefit Rider can be attached to any of the plan options. Please read rider Brochure for more details.</li>
                                        <li>Goods and Services Tax & Cess as applicable shall be levied at the applicable Tax rates in accordance with the prevailing Tax Laws. Prevailing Tax Laws will be applicable on this policy which may vary from time
                                            to time.</li>
                                        <li>TDS at prevailing rate will be deducted from any amount paid under a life insurance policy subject to the provisions of prevailing tax laws. In case of non-availability of valid PAN, TDS will be deducted at higher
                                            rate. Tax laws are subject to changes from time to time. You are advised to take an independent view from tax consultant.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div (click)="productClicked(showproduct)" class="divclass" style="padding-bottom: 0;">
                            <span style="width: 20px;height: 20px;">
                              <img src="assets/images/plus-button.png" *ngIf="!showproduct" alt=""
                                  style="width: 13.14px;height: 13.14px; margin: 0;">
                              <img src="assets/images/minus-button.png" *ngIf="showproduct" alt=""
                                  style="width: 13.14px;height: 13.14px; margin: 0;">
                          </span>
                            <h6 class="headerstyle" style="margin-bottom: 0 !important;">Product Service</h6>
                        </div>
                        <div id="divwrapfooter" class="warp-footer" style="height: auto;" *ngIf="showproduct">
                            <div class="warp-footer-inner foot-bg">
                                <div id="displayTC" style="display:block;">
                                    <ol id="TC">
                                        <li>There are numerous life insurance plans available in the market. Such plans cater to the diverse insurance needs of individuals. If you are looking for coverage for a set amount of time, a term life insurance plan
                                            is the best fit. Such plans offer coverage against a premature death and may be used to ensure future insurability. You may supplement your existing whole life insurance policy or an endowment policy with a
                                            term plan and enjoy comprehensive coverage at an affordable rate.</li>
                                        <li>In order to purchase a term insurance plan, it is necessary to determine the premium amount that caters to your coverage needs. The process of manually calculating the premium amount is cumbersome and is prone to
                                            human error. A smarter option would be to use a term insurance calculator.</li>
                                        <li>Most insurance companies have an insurance calculator on their website. An insurance calculator is a digitized tool that helps you calculate term insurance premium to help you get the desired sum assured amount
                                            based on your needs.</li>
                                        <li><strong>Method to use a term plan calculator:</strong>
                                            <ol>
                                                <li>Enter your details like gender, tobacco use, date of birth, assured sum, policy term, your residing country and the current state of residence.</li>
                                                <li>You'll be shown your quote and various payout options to select from. You can select immediate payout, level recurring payout or increasing recurring payout.</li>
                                                <li>You can also select payment term you want to pay for - from single premium to various options like 5 years, 10 years etc.</li>
                                                <li>When you choose other options except for single premium, you'll also get the option to select annual or monthly premium.</li>
                                                <li>Once you know the premium, you can fill your details, health detail and nominee details about.</li>
                                                <li>You can then buy the term plan using your net-banking facility or debit card.</li>
                                            </ol>
                                        </li>
                                        <li>
                                            <strong>Benefits of using a term plan calculator:</strong>
                                            <br> There are numerous benefits offered by a term plan calculator. Following are three major advantages.
                                            <ul>
                                                <ol>
                                                    <li><strong>Easy to use and time-saving: </strong>Given that, the sum assured amount and the premium are usually large numbers, it may be quite difficult to calculate term insurance premium manually.Besides,
                                                        manual calculations may be time-consuming. In order to avoid any hassles, you may use a term insurance plan calculator. Such a tool is easy-to-use and provides the quote within minutes.</li>
                                                    <li><strong>Allows comparisons: </strong>Numerous insurance companies offer varied plan features and benefits. Insurance rates too may vary from provider to provider. You may use a term insurance calculator
                                                        to compare the premiums offered by various providers and select the plan that is suitable to your budget.</li>
                                                    <li><strong>Cost-effective: </strong>The good news is that term insurance providers offer cheaper premiums to those purchasing their insurance policy online. Lower costs are mainly due to reduced cost of
                                                        paperwork and non-involvement of any intermediary. You may, therefore, check the premium cost online, and save a great deal of money.</li>
                                                </ol>
                                            </ul>
                                        </li>
                                        <li><strong>Benefits of a term insurance plan</strong>
                                            <br> As stated earlier, term plans provide coverage for a fixed term. In case of an unfortunate death of the policyholder during the policy term, the nominee receives the death benefit amount based on the provisions
                                            of the plan.
                                            <br> There are numerous advantages of a term insurance policy. Following are six major benefits to look out for.
                                            <ol>
                                                <li><strong>Coverage against the unexpected: </strong>Given that life is uncertain, chances of an unfortunate event of death cannot be eliminated. You may, therefore, take a proactive measure of financially
                                                    protecting your loved ones in case the worst were to happen. By opting for a term plan, the policyholder’s family may deal effectively with financial trauma arising because of his death. The sum assured
                                                    amount offers coverage to the policyholder’s loved ones and provides them with the much-needed financial security.</li>
                                                <li><strong>Income replacement: </strong>In case of death, the policyholder’s family may be burdened due to the lack of income generation. The financial strain will be higher in case he is the sole breadwinner
                                                    of the family. A term plan acts as an income replacement. The sum assured amount received could be used to make ends meet, even in your absence.</li>
                                                <li><strong>Affordability: </strong>The good news is that premiums associated with term plans are low. Term insurance policies offer a high level of coverage at an affordable premium rate. The main reason for
                                                    this is the nature of the plan. Term plans are purely risk plans. This means that they do not offer any returns on investment. Hence, the amount that is paid towards premiums is used entirely to provide
                                                    protection.
                                                </li>
                                                <li><strong>Additional riders: </strong>Insurance providers offer the benefit of add-ons, also known as riders. Such riders enhance the level of coverage. You may pay an additional cost and enjoy the benefit
                                                    of these riders. Some of the popular rider options include accidental death benefit rider, permanent disability benefit rider, and critical illness rider, among others.</li>
                                                <li><strong>Flexibility: </strong>You may enjoy the benefit of converting your existing term plan to a policy of any other plan offered by the same company. This helps you to seek the best insurance coverage
                                                    based on your changing needs.</li>
                                                <li><strong>Income tax benefits: </strong>Besides the aforementioned benefits, you may enjoy tax benefits on your term plan. According to Section 80C of the Income Tax Act, 1961, you may avail of tax rebate
                                                    up to INR 1.5 lakh per financial year. This helps you reduce your tax liability largely. Additionally, you may also enjoy tax deduction under Section 10(10D) on the maturity benefit (applicable to term
                                                    plans with the return of premium option).</li>
                                            </ol>
                                        </li>
                                        <li><strong>Purchasing a term insurance plan:</strong> Term insurance plans are indeed an excellent financial planning tool. It offers coverage to the policyholder’s loved ones against an unfortunate event of death.
                                            While purchasing such a plan, you may keep certain aspects in mind. Firstly, you may identify your coverage needs and determine a sufficient sum assured amount. The sum assured amount should be enough to fulfill
                                            the financial obligations of your family and should meet their lifestyle needs. It is also important to choose the tenure of the policy wisely. You may opt for a long tenure, at least until your retirement.
                                            Besides, do keep in mind the inflation factor. The coverage amount that may seem enough for today may not actually be able to meet your family’s expenses down the road.
                                            <br> You may either buy a term insuranceplan through the internet or by offline means. You may simply visit your local branch and seek information about term plans. The representative will guide you through
                                            the process. Alternatively, you may apply through the insurer’s website. You may easily purchase a term plan by a mere click of the mouse in the comfort of your home. The online facility provides a high degree
                                            of convenience and flexibility.
                                            <br> Remember, a term plan offers the minimum level of security against an untimely demise. It provides peace of mind knowing that your family’s needs will be taken care of, in case of an untoward event. You
                                            may, therefore, invest in a term insurance plan at the earliest.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="warp-footer2 mt-5" style="height: auto;">
                            <div class="groove">
                                <p style="display:block;font-size:13px !important;font-weight: 700; margin: 0 0 10px 0;">BEWARE OF SPURIOUS PHONE CALLS AND FICTITIOUS/ FRAUDULENT OFFERS</p>
                                <p style="display:block;font-size:12px !important;font-weight: 500">IRDAI is not involved in activities like selling insurance policies, announcing bonus or investment of premiums. Public receiving such phone calls are requested to lodge a police complaint.</p>
                            </div>
                        </div>
                        <div class="warp-footer2 warp-footer-inner foot-bg" style="height: auto;">
                            <p id="eterm" style="display:block;">Kotak e-Term Plan - UIN: 107N104V02, Form No: N104, Kotak Critical Illness Plus Benefit Rider - 107B020V01, Form No.: B020</p>
                        </div>
                        <ul class="individual_footer_text">
                            <li>This is an Individual, Non-Linked, Non-Par, Pure Protection Life Insurance Plan.</li>
                            <li>For sub-standard lives, extra premium may be charged based on Kotak Life Insurance underwriting policy. For more details on risk factors, terms and conditions please read sales brochure carefully before concluding a sale.</li>
                            <li>Tax are subject to provisions as per Income Tax Act 1961. Tax laws are subject to amendments from time to time. Customer is advised to take an independent view from tax consultant.</li>
                            <li>^Kotak Critical Illness Plus Benefit Rider. In case of diagnosis with any one of the 37 Critical Illnesses specified under Kotak Critical Illness Plus Benefit Rider, the Rider shall terminate post Rider Sum Assured has been
                                paid to the Life Insured, and the Base Plan shall continue for the remaining policy term. In case the life insured undergoes Angioplasty, a minimum of Rs.5 Lakhs or Base Sum Assured will be payable and the remaining rider
                                sum assured (if any) shall continue for the remaining 36 Critical Illnesses. This Rider shall terminate once 100% of the Rider Sum Assured has been paid or on the completion of the Rider Benefit Term, whichever is earlier.
                                For more details on riders, please read the Rider Brochure. Ref. No. KLI/20-21/E-WEB/1192.</li>
                            <li>^Subject to underwriting conditions.</li>
                        </ul>
                        <div id="divwrapfooter" class="warp-footer2" style="height: auto;">
                            <div class="warp-footer-inner foot-bg">
                                <div>
                                    <p>Kotak Mahindra Life Insurance Company Ltd.</p>
                                    <p>Regd. Office: 2nd Floor, Plot # C-12, G-Block, BKC, Bandra (E), Mumbai - 400 051, India. All rights reserved. Registered with <a target="_blank" style="color:blue;cursor: pointer !important;" href="https://www.irda.gov.in/Defaulthome.aspx?page=H1">Insurance Regulatory & Development Authority of India (IRDAI)</a>                                        as Life Insurance Company. Regn. No. 107. CIN : U66030MH2000PLC128503.</p>
                                    <p>Trade Logo displayed above belongs to Kotak Mahindra Bank Limited and is used by Kotak Mahindra Life Insurance Company Ltd. under license.</p>
                                </div>

                                <div class="clearstyle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-body" style="padding:30px;">
        <div class="form_row w-100 mb-3">
            <p class="mb-0">If you choose a cover start date that's prior to your birth date, you can enjoy lower premuims. Would you want to backdate your cover start date to 05/09/202?</p>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="d-flex justify-content-around align-items-center">
            <button type="button" class="secondary_btn" style="margin:0 5px;" (click)="cancel()">No</button>
            <button type="button" class="primary_btn" style="margin:0 5px;" (click)="resume()">Yes</button>
        </div>
    </div>
</ng-template>