.main__container .tooltipCustom .inputFeild:focus-within~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -52px;
    left: -10px;
}

.main__container .tooltipCustom .infoIcon:hover~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -56px;
    left: -8px;
}

.errorInput {
    border-bottom: 1px solid #ee1d24 !important;
}

@media (min-width: 320px) and (max-width: 766px) {
    .main__container .tooltipCustom .infoIcon:hover~.tooltiptextCustom.tooltip-sm-left {
        right: 0px !important;
        left: unset !important;
    }
    .main__container .tooltipCustom.input .tooltiptextCustom.tooltip-sm-left::after {
        right: 46px;
        left: unset;
    }
    .main__container .tooltipCustom.input .inputFeild {
        margin-bottom: 0px;
    }
    .fixed_calculated_amount {
        margin-bottom: 16px;
    }
    .bottom_sm_fixed {
        padding: 24px;
        left: 0;
        right: 0;
        background: #FFFFFF;
    }
}

@media (min-width: 767px) and (max-width: 1080px) {
    .main__container .tooltipCustom .infoIcon:hover~.tooltiptextCustom.tooltip-sm-left {
        /* right: 100px; */
        left: -30px;
    }
    .main__container .tooltipCustom.input .tooltiptextCustom::after {
        left: 85px;
    }
    .main__container .tooltipCustom.input .inputFeild {
        margin-bottom: 8px;
    }
}

ngb-typeahead-window.dropdown-menu {
    width: 100% !important;
}

.main__container .tooltipCustom.dob_landing .inputFeild:focus-within~.tooltiptextCustom {
    top: -84px;
}

.main__container .tooltipCustom.tabacco_landing.input .infoIcon:hover~.tooltiptextCustom {
    top: -90px !important;
}

.mail-list {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #C9C9C9;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 100;
}

.mail-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mail-list ul li {
    display: block;
    text-align: left;
    border: none;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #757575;
    padding: 8px;
    cursor: pointer;
}

.mail-list ul li:hover {
    color: #036;
}

.mb-30 {
    margin-bottom: 24px;
}

