<div class="main__container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5 xol-lg-5 col-md-7 col-12">

                <h2 class="mb-3 mt-5">We have retreived your C-KYC Details</h2>
                <h4 class="mb-4" style="font-weight: 300;">Please verify these details before you submit them</h4>

                <div class="kyc_detail_container">
                    <div class="form_row">
                        <div class="row">
                            <div class="col-6">
                                <label class="bold_label">Father’s name</label>
                                <p class="detail_val">Rajesh Gupte</p>
                            </div>
                            <div class="col-6">
                                <label class="bold_label">Mother’s name</label>
                                <p class="detail_val">Usha Gupte</p>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="row">
                            <div class="col-6">
                                <label class="bold_label">Spouse’s name</label>
                                <p class="detail_val">Shyam Verma</p>
                            </div>
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="row">
                            <div class="col-12">
                                <label class="bold_label">Current address</label>
                                <p class="detail_val">101 Vincenza Heights, Old Padra Road, Vadodara</p>
                            </div>
                        </div>
                    </div>

                    <!-- <ng-container *ngIf="isCurrentAddres; else noCurrentAddres">
                        <div class="form_row">
                            <div class="row">
                                <div class="col-12">
                                    <label class="bold_label">Current Address</label>
                                    <p class="detail_val">101 Vincenza Heights, Old Padra Road, Vadodara</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noCurrentAddres>
                        <div class="form_row">
                            <div class="radio__group mb-3">
                                <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                                <div class="d-flex">
                                    <div>
                                        <input class="landingInput"  type="checkbox" name="currentAddress" class="isPermAddSame" [checked]='currentAddress' 
                                        (change)="openConditions($event, 'currentAddress')">
                                        <span class="checkmark"></span>
                                    </div>
                                    <span class="caption mx-4" style="color: #000000; margin-top: -2px; font-size: 14px;">My Current address is the same as my permanent address</span>
                                </div>
                                </label>
                            </div>
    
                            <ng-container *ngIf="enterAddress">
                                <hr class="my-4">
    
                                <h5 class="main_heading">Enter Current address</h5>
                                <form [formGroup]="addressForm">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Address line 1</label>
                                                <input type="text" name="address1" formControlName="address1" class="inputFeild" id="">
                                              </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Address line 2</label>
                                                <input type="text" name="address2" class="inputFeild" id="">
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Landmark</label>
                                                <input type="text" name="landmark" class="inputFeild" id="">
                                              </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Pincode</label>
                                                <input type="text" name="pincode" class="inputFeild" id="" readonly>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>City</label>
                                                <input type="text" name="city" class="inputFeild" id="" readonly>
                                              </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>State</label>
                                                <input type="text" name="state" class="inputFeild" id="" readonly>
                                              </div>
                                        </div>
                                    </div>
                                </form>

                            </ng-container>
                        </div>
                    </ng-template>

                    <ng-container *ngIf="isPermanentAddres; else noPermanentAddres">
                        <div class="form_row">
                            <div class="row">
                                <div class="col-12">
                                    <label class="bold_label">Permanent Address</label>
                                    <p class="detail_val">101 Vincenza Heights, Old Padra Road, Vadodara</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noPermanentAddres>
                        <div class="form_row">
                            <div class="radio__group mb-3">
                                <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                                <div class="d-flex">
                                    <div>
                                        <input class="landingInput"  type="checkbox" name="permanentAddress" class="isPermAddSame" [checked]='permanentAddress' 
                                        (change)="openConditions($event, 'permanentAddress')">
                                        <span class="checkmark"></span>
                                    </div>
                                    <span class="caption mx-4" style="color: #000000; margin-top: -2px; font-size: 14px;">My permanent address is the same as my current address</span>
                                </div>
                                </label>
                            </div>
    
                            <ng-container *ngIf="enterAddress">
                                <hr class="my-4">
    
                                <h5 class="main_heading">Enter permanent address</h5>
    
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form_row">
                                            <label>Address line 1</label>
                                            <input type="text" name="address1" formControlName="address1" class="inputFeild" id="">
                                          </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form_row">
                                            <label>Address line 2</label>
                                            <input type="text" name="address2" class="inputFeild" id="">
                                          </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form_row">
                                            <label>Landmark</label>
                                            <input type="text" name="landmark" class="inputFeild" id="">
                                          </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form_row">
                                            <label>Pincode</label>
                                            <input type="text" name="pincode" class="inputFeild" id="">
                                          </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form_row">
                                            <label>City</label>
                                            <input type="text" name="city" class="inputFeild" id="">
                                          </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form_row">
                                            <label>State</label>
                                            <input type="text" name="state" class="inputFeild" id="">
                                          </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template> -->

                    <!-- <hr>

                    <div class="form_row">
                        <div class="radio__group mb-3">
                            <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                            <div class="d-flex">
                                <div>
                                    <input class="landingInput"  type="checkbox" name="declaration" class="isPermAddSame">
                                    <span class="checkmark"></span>
                                </div>
                                <span class="caption mx-4" style="color: #000000; margin-top: -2px; font-size: 14px;">I hereby give my consent to receive all communications including policy document at the registered email address provided by me in this proposal form</span>
                            </div>
                            </label>
                        </div>
                    </div> -->
                </div>
                
                <div class="container-fluid my-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="secondary_btn disabled">REJECT</button>
                                <div class="p-2"></div>
                                <button type="button" class="primary_btn" (click)="submitForm()">I ACCEPT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
