.kyc_detail_container {
    background: #FFFFFF;
    border: 1px solid #A0A0A0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
}

.bold_label {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #292929;    
}

.detail_val {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
} 

@media (max-width: 767px){
    .main__container {
        padding: 0 8px;
    }
    .kyc_detail_container {
        padding: 24px;
    }
    .bold_label {
        margin-bottom: 8px;
    }
    .caption {
        margin-top: -4px !important;
    }
    .detail_val {
        margin-bottom: 8px;
    }
}