hr {
    margin-top: 0px;
}

.bold_label {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #292929;    
}

.detail_val {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
} 
@media (max-width: 767px){
    .main__container {
        padding: 0 8px;
    }
    .caption {
        margin-top: -4px !important;
    }
    .bold_label {
        margin-bottom: 8px;
    }
}


