<div class="main__container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5 xol-lg-5 col-md-7 col-12">

                <h2 class="mb-3 mt-5">A few more details to help us verify your application </h2>
                <h4 class="mb-4" style="font-weight: 300;">Select one of the 3 options given below to proceed</h4>

                <div class="kyc_container">
                  <div class="tab__content">
                    <div class="accordian_container">
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" [ngClass]="{collapsed: hidepanelClicked}" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Central KYC
                                <div class="tooltipCustom w-30 " placement="top" ngbTooltip="No need to submit KYC documents each time you start a relationship with a new company. Use C-KYC for quick and easy verification."  tooltipClass="toolTipCustomClass">
                                  <span class="infoIcon">
                                      <img class="py-0" src="assets/images/info.svg" alt="">
                                  </span>
                                </div>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" [ngClass]="{show: !hidepanelClicked}" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="accordion-body">
                                <hr>
                            <form [formGroup]="centralKYCForm">
                                <div class="central_kyc_panel">
                                    <h5 class="caption mb-4" style="color: #000000;">We have captured your C-KYC number.</h5>
  
                                    <div class="form_row">
                                      <label>Enter C-KYC number</label>
                                      <input type="text" name="CKYCNumber" [(ngModel)]="kycNumber" formControlName="CKYCNumber" class="inputFeild CKYC" id="" placeholder="Enter here" [ngClass]="{'errorInput': formSubmitted && centralKYCForm.get('CKYCNumber')?.hasError('required') }">
                                      <p class='errorMsg' *ngIf="formSubmitted && centralKYCForm.get('CKYCNumber')?.hasError('required')">
                                        C-KYC number field is required </p>
                                    </div>
                                    <div *ngIf="detailsReceived">
                                      <div class="details_received">
                                        <div class="form_row">
                                          <div class="row">
                                              <div class="col-6">
                                                  <label class="bold_label">Father’s name</label>
                                                  <p class="detail_val">Rajesh Gupte</p>
                                              </div>
                                              <div class="col-6">
                                                <label class="bold_label">Mother’s name</label>
                                                <p class="detail_val">Usha Gupte</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="form_row">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="bold_label">Spouse’s name</label>
                                                    <p class="detail_val">Shyam Verma</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="bold_label">Current address</label>
                                                    <p class="detail_val">101 Vincenza Heights, Old Padra Road, Vadodara</p>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngIf="!detailsReceived">
                                      <hr>                                      
                                      <div class="d-flex justify-content-center align-items-center">
                                          <!-- <button type="button" class="secondary_btn px-2" (click)="hideAccordion()">DONT USE C-KYC</button>
                                          <div class="mx-2"></div> -->
                                          <button type="button" class="primary_btn" (click)="saveform()">PROCEED</button>
                                      </div>  
                                    </div>
  
                                </div>
                            </form>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button" [ngClass]="{collapsed: !hidepanelClicked}" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Aadhaar KYC
                                <div class="tooltipCustom w-30 " placement="top" ngbTooltip="⦁ By entering your Aadhaar Number or Virtual ID number for KYC, you can get your details prefilled in the application form.
                                ⦁ You need not to submit documents and photograph later"  tooltipClass="toolTipCustomClass">
                                  <span class="infoIcon">
                                      <img class="py-0" src="assets/images/info.svg" alt="">
                                  </span>
                                </div>
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" [ngClass]="{show: hidepanelClicked}" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="accordion-body">
                              <hr>
                              <div class="aadhar_kyc_panel">
                                <form [formGroup]="aadharForm">
                                  <div class="form_row">
                                    <label>Your 12-digit aadhaar no.
                                    </label>
                                    <input type="text" name="aadharNumber" formControlName="aadharNumber" class="inputFeild CKYC" id="" placeholder="Enter 12-digit aadhaar number" [ngClass]="{'errorInput': formSubmitted && aadharForm.get('aadharNumber')?.hasError('required') }">
                                    <p class='errorMsg' *ngIf="formSubmitted && aadharForm.get('aadharNumber')?.hasError('required')">Aadhar number field is required </p>
                                  </div>
                                  <div class="form_row">
                                      <div class="radio__group mb-3">
                                          <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                                          <div class="d-flex">
                                              <div>
                                                  <input class="landingInput" type="checkbox" name="aadharDeclaration" formControlName="aadharDeclaration" [ngClass]="{'errorInput': formSubmitted && aadharForm.get('aadharDeclaration')?.hasError('required') }">
                                                  <span class="checkmark"></span>
                                              </div>
                                              <span class="caption mx-4" style="color: #000000; margin-top: -2px; font-size: 14px;">I hereby give my consent to Kotak Life to verify my Aadhaar to establish its genuineness through Quick Response (QR) code (embedded in the Aadhaar card), e-verification or through other such acceptable manner as per UIDAI guidelines or under any Act or law from time to time.</span>
                                          </div>
                                          <p class='errorMsg' *ngIf="formSubmitted && aadharForm.get('aadharDeclaration')?.hasError('required')">Field is required </p>
                                          </label>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="d-flex justify-content-center align-items-center">
                                      <button type="button" class="primary_btn px-3" (click)="generateOTP()">GENERATE OTP</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Enter address manually
                                <div class="tooltipCustom w-30 " placement="top" ngbTooltip="KYC documents (PAN and Aadhaar, Passport, Driving License) are mandatory for issuing policy.
  
                                ⦁ Keep your documents handy while filling application form to get your policy issued faster."  tooltipClass="toolTipCustomClass">
                                  <span class="infoIcon">
                                      <img class="py-0" src="assets/images/info.svg" alt="">
                                  </span>
                                </div>
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="accordion-body">
                              <hr>
                              <div class="address_panel">
                                <div class="received_address">
                                  <h5 class="main_heading">Enter {{receivedAddressName}}</h5>
                                  <form [formGroup]="receivedAddress">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Address line 1</label>
                                                <input type="text" name="address1" formControlName="address1" class="inputFeild" id="">
                                              </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Address line 2</label>
                                                <input type="text" name="address2" class="inputFeild" id="">
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Landmark</label>
                                                <input type="text" name="landmark" class="inputFeild" id="">
                                              </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>Pincode</label>
                                                <input type="text" name="pincode" class="inputFeild" id="" readonly>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>City</label>
                                                <input type="text" name="city" class="inputFeild" id="" readonly>
                                              </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form_row">
                                                <label>State</label>
                                                <input type="text" name="state" class="inputFeild" id="" readonly>
                                              </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
                
                <div class="form_row">
                  <div class="radio__group mb-3">
                      <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                      <div class="d-flex">
                          <div>
                              <input class="landingInput" type="checkbox" name="addressConfirmation" [checked]='nextAddress' 
                              (change)="openConditions($event, 'nextAddress')">
                              <span class="checkmark"></span>
                          </div>
                          <span class="caption mx-4" style="color: #000000; margin-top: -2px; font-size: 14px;">My permanent address and current address is same</span>
                      </div>
                      </label>
                  </div>
                </div>

                <ng-container *ngIf="enterAddress">
                  <hr class="my-4">

                  <h5 class="main_heading">Enter {{notReceivedAddressName}}</h5>
                  <form [formGroup]="nextForm">
                      <div class="row">
                          <div class="col-6">
                              <div class="form_row">
                                  <label>Address line 1</label>
                                  <input type="text" name="addressN1" formControlName="addressN1" class="inputFeild" id="">
                                </div>
                          </div>
                          <div class="col-6">
                              <div class="form_row">
                                  <label>Address line 2</label>
                                  <input type="text" name="addressN2" class="inputFeild" id="">
                                </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                              <div class="form_row">
                                  <label>Landmark</label>
                                  <input type="text" name="landmarkN" class="inputFeild" id="">
                                </div>
                          </div>
                          <div class="col-6">
                              <div class="form_row">
                                  <label>Pincode</label>
                                  <input type="text" name="pincodeN" formControlName="pincodeN" class="inputFeild" id="">
                                </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                              <div class="form_row">
                                  <label>City</label>
                                  <input type="text" name="cityN" formControlName="cityN"  class="inputFeild" id="">
                                </div>
                          </div>
                          <div class="col-6">
                              <div class="form_row">
                                  <label>State</label>
                                  <input type="text" name="stateN" formControlName="stateN" class="inputFeild" id="">
                                </div>
                          </div>
                      </div>
                  </form>

                </ng-container>

                <div class="form_row">
                  <div class="radio__group mb-3">
                      <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                      <div class="d-flex">
                          <div>
                              <input class="landingInput" type="checkbox" name="declaration" class="isPermAddSame">
                              <span class="checkmark"></span>
                          </div>
                          <span class="caption mx-4" style="color: #000000; margin-top: -2px; font-size: 14px;">I hereby give my consent to receive all communications including policy document at the registered email address provided by me in this proposal form.</span>
                      </div>
                      </label>
                  </div>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                  <button type="button" class="secondary_btn">BACK</button>
                  <div class="mx-2"></div>
                  <button type="button" class="primary_btn">CONTINUE</button>
                </div>

            </div>
        </div>
    </div>
</div>
