<div class="kotak_btn_group">
    <div class="eterm__grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="secondary_btn">{{buttons.pair1}}</button>
                        <div class="p-2"></div>
                        <button type="button" class="primary_btn make_payment" (click)="openSorryModal()">{{buttons.pair2}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
