/* You can add global styles to this file, and also import other style files */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

* {
    margin: 0;
    padding: 0;
    text-transform: none;
}

body,
html {
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: normal;
    background-color: #FFFFFF;
}


/* buttons & links */

a {
    text-decoration: none;
    color: #036;
}

a:hover {
    text-decoration: none;
}

.pl-0 {
    padding-left: 0!important;
}

button:focus,
button:hover,
button:focus-within,
button:focus-visible,
button:active,
.btn-check:focus+.btn,
.btn:focus {
    outline: none;
    box-shadow: none;
}

button {
    background: transparent;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main__container h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

.main__container h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 16px;
    color: #000000;
}

.main__container h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
}

.main__container h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
}

.main__container h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.main__container p {
    margin-bottom: unset;
}

.quote {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #003366;
}

.eterm__grid {
    max-width: 1440px;
    padding: 0 76px;
    margin: auto;
}

.main__container {
    margin-top: 62px;
    padding-bottom: 42px;
}

.main__container .m16 {
    margin: 16px 0;
}

.w-30 {
    max-width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.kotak_navbar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #FFFFFF;
    padding: 15px 0;
    border-bottom: 1px solid #DADADA;
}

.header_item {
    margin-left: 26px;
}

.header_item_text {
    font-size: 16px;
}

.header_item:first-child {
    margin-left: 0;
}

.primary_btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    background: #EA3223;
    color: #FFFFFF;
    padding: 12px;
    border: 1px solid #EA3223;
    min-width: 134px;
}

.main__container .primary_btn.default {
    background: #D2D2D2;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #474747;
    border: 1px solid #D2D2D2;
    margin-right: 24px;
}

.proceed__btn {
    width: 100%;
    border-radius: 10px;
}

.secondary_btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003366;
    background: #FFFFFF;
    border: 1px solid #003366;
    box-sizing: border-box;
    padding: 12px 39px;
}

label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 10px;
    white-space: nowrap;
}

input:focus,
select:focus {
    border: 1px solid #b4b4b4;
    outline: none;
}

.inputFeild {
    padding: 0 16px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    width: 100%;
    min-height: 50px;
}

.landingInput {
    padding: 12px 2px !important;
    outline: none;
    border-bottom: 1px solid #D6D6D6!important;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    width: 100%;
    border-radius: 0px;
    min-height: 46px;
}

.landingInput::placeholder {
    font-size: 16px;
}

.landingInput:focus {
    border: none!important;
    outline: none;
    border-bottom: 1px solid #a1a1a1!important;
}

.main__container .avatar-upload .avatar-edit input {
    display: none;
}

.main__container .selectOption {
    padding: 16px;
    margin: 16px 0;
    min-height: 100px;
}

.main__container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sub_header {
    padding: 16px 0;
    background: #FAFAFA;
    /* border-top: 1px solid #DADADA; */
    border-bottom: 1px solid #DADADA;
}

.caption {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.main__container .card {
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    padding: 20px;
}

.border_bottom {
    border-bottom: 1px solid #DADADA;
}

.eligibility_criteria {
    padding: 30px 0;
}

.download_brochure {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #003366;
}

.m40 {
    margin: 40px;
}

p,
.caption {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #757575;
}

.reason_love_product {
    margin: 40px 0px 32px 0;
}

.main__container .form_row {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    position: relative;
}

.main__container .form_row label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 12px;
    display: block;
}

.form_row .infoLabel {
    margin-bottom: 0px;
}

@media (max-width:767px) {
    .main__container .form_row {
        margin-bottom: 20px;
    }
    .main__container .minWidth .dropdown-menu.show {
        min-width: 230px;
    }
    .inputFeild.CKYC {
        max-width: 100%;
    }
    .quote {
        font-size: 14px;
    }
}

.form_row ul.radioList {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
}

.form_row ul.radioList li.active {
    background-color: #036 !important;
    color: #fff !important;
    border: 1px solid #036 !important;
}

.form_row ul.radioList li.active span {
    position: relative;
}

.form_row ul.radioList li.active span::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 8px;
    background-image: url('assets/images/white-right.svg');
    background-repeat: no-repeat;
    left: -15px;
    top: 6px;
}

.form_row ul.radioList li {
    display: inline-block;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 8px;
    border: 1px solid #D6D6D6;
    margin-right: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 50%;
    line-height: 16px;
    color: #757575;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.form_row ul.radioList li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.main_heading {
    margin-bottom: 36px;
}

.space__container {
    padding: 40px 0 40px 0;
}

.add_on_card {
    border: 1px solid #003366;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 24px 24px;
    margin-bottom: 24px;
}

.popular__tag {
    position: relative;
}

.popular__tag::before {
    content: 'Most Popular';
    position: absolute;
    background: #003366;
    border-radius: 4px;
    padding: 5px 14px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -8px;
}

.desc__text {
    font-size: 14px;
    color: #000000;
}

.main__container .plan-toggle {
    width: 44px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    margin-left: 16px;
}

.main__container .plan-toggle input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.main__container .plan-toggle input:checked~.toggle-tick {
    background-color: #00a22c;
}

.main__container .plan-toggle input:checked~.toggle-tick:before {
    left: 22px;
    background-image: url('assets/images/toggle-off.png');
    background-position: 50%;
}

.main__container .plan-toggle .toggle-tick:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background-color: #fff;
    background-image: url('assets/images/toggle-on.png');
    background-position: 50%;
    top: 3px;
    left: 4px;
}

.main__container .plan-toggle .toggle-tick {
    position: relative;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    background-color: #ccc;
}

.main__container .plan-toggle .toggle-tick:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background-color: #fff;
    background-image: url('assets/images/toggle-on.png');
    background-position: 50%;
    top: 3px;
    left: 4px;
}


/* tooltip */

.main__container .tooltipCustom {
    position: relative;
    display: inline-block;
}

.main__container .tooltipCustom img {
    cursor: pointer;
}

.main__container .tooltipCustom .tooltiptextCustom {
    visibility: hidden;
    width: auto;
    min-width: 220px;
    background-color: #DDEEFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    right: 0;
    margin-top: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #EBEBEB;
    display: inline;
}

@media (max-width: 767px) {
    .main__container .tooltipCustom .tooltiptextCustom {
        max-width: 80vw;
    }
}

.main__container .tooltipCustom .tooltiptextCustom::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 24px;
    margin-left: -9px;
    border-width: 10px 8px;
    border-style: solid;
    border-color: transparent transparent #DDEEFF transparent;
}

.main__container .tooltiptextCustom p {
    font-size: 14px !important;
    color: #222222 !important;
    font-family: 'Roboto', sans-serif !important;
    text-align: left;
    line-height: 22px;
    margin-bottom: 10px;
}

@media (max-width: 414px) {
    .main__container .tooltiptextCustom p {
        font-size: 13px !important;
    }
}

.main__container .tooltiptextCustom p:last-child {
    margin-bottom: 0px;
}

.main__container .tooltipCustom.input .tooltiptextCustom::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 29px;
    right: unset;
    margin-left: -14px;
    border-width: 8px 6px;
    border-style: solid;
    border-color: #DDEEFF transparent transparent transparent;
    top: unset;
}

.main__container .tooltipCustom .infoIcon:hover~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -63px;
    left: -8px;
}


/* .tooltipCustom:hover .tooltiptextCustom {
        visibility: visible;
        opacity: 1;
    } */

.main__container .tooltiptextCustom.tooltiptextCustomTop {
    bottom: calc(100% + 5px);
    box-shadow: 3px 0px 6px #00000029;
}

.main__container .tooltipCustom .tooltiptextCustom.tooltiptextCustomTop::after {
    content: "";
    position: absolute;
    top: initial;
    left: 115px;
    bottom: -20px;
    margin-left: -9px;
    border-width: 10px 8px;
    border-style: solid;
    border-color: #DDEEFF transparent transparent transparent;
}

.main__container button.ngb-dp-arrow-btn {
    min-width: auto;
    padding: 0;
}

@media (max-width: 767px) {
    .eterm__grid {
        padding: 0 20px;
        margin: auto;
    }
    .tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button {
        padding-right: 60px !important;
    }
}


/* Owl Carousal */

.main__container .home__layout {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.main__container .home__layout .home_layout_left {
    width: 440px;
    height: auto;
}

.main__container .home__layout .home_layout_left h4 {
    width: 290px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500!important;
    text-align: center;
    font-size: 16px!important;
    color: #000137;
    margin: 0 auto 16px;
}

.main__container .home__layout .home_layout_left .carousel__container {
    width: 100%;
    height: auto;
    background: #E8F7FF 0 0 no-repeat padding-box;
    border-radius: 15px 0 0 15px;
    padding: 42px 24px;
    text-align: center;
}

.main__container .home__layout .home_layout_left .carousel__container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000137;
}

.main__container .home__layout .home_layout_left .carousel__container h1 {
    font-weight: 700!important;
    font-size: 32px!important;
    color: #000;
}

.main__container .home-carousel .owl-dots .owl-dot.active span,
.main__container .home-carousel .owl-dots .owl-dot:hover span {
    background: red!important;
    width: 14px;
    height: 14px;
}

.main__container .home-carousel .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: -70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container .owl-theme .owl-dots,
.main__container .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.main__container .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.main__container .home-carousel img {
    height: 240px;
    width: auto;
}

.main__container .carousel__container .home-carousel p {
    margin-bottom: 70px;
}


/* Right container login page */

.main__container .home__layout .home_layout_right {
    width: 640px;
    height: auto;
    background: #fff;
    box-shadow: 0 0px 6px rgb(0 0 0 / 16%);
    border-radius: 5px;
    padding: 42px 40px;
}

.main__container .home__layout .home_layout_right h2,
.main__container .home_main h2 {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-bottom: 30px;
}


/* Checkbox */

.main__container .form_row input:active,
.main__container .form_row input:focus,
.main__container .form_row select:active,
.main__container .form_row select:focus {
    border: 1px solid #036;
}

.main__container .checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.main__container .checkbox__container input:checked~.checkmark {
    background-color: #036;
    border: 1px solid #036;
}

.main__container .checkbox__container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid rgba(34, 34, 34, .4);
    background-color: #fff
}

.main__container .checkbox__container input:checked~.checkmark:after {
    display: block;
}

.main__container .checkbox__container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 0;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.main__container .checkbox__container.checkbox__container_gray input:checked~.caption {
    color: rgba(34, 34, 34, .7);
}

.main__container .checkbox__container span.caption a {
    color: #00f!important;
}


/* Terms Container */

.main__container .terms__container {
    width: 100%;
    height: auto;
}

.main__container .terms__container .terms_inner_container {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 50px 0;
}

.terms__container .terms_inner_container .divclass {
    display: inline-flex;
    cursor: pointer;
    padding: 10px 0;
}

.main__container .terms__container .terms_inner_container .divclass {
    display: inline-flex;
    cursor: pointer;
    padding: 10px 0;
}

.main__container ol#TC {
    font-size: 12px;
    color: #685c53;
    margin-top: 6px;
    padding: 18px;
}

.main__container .individual_footer_text li {
    font-size: 12px;
    color: #685c53;
    margin-top: 6px;
}

.main__container .terms__container .terms_inner_container .groove {
    width: 94%;
    height: auto;
    margin: 0 auto 20px;
    border: 2px solid #666;
    text-align: center;
    padding: 10px;
}

.main__container .terms__container .terms_inner_container .groove p {
    margin: 0;
}

.main__container .terms__container .terms_inner_container .warp-footer-inner p {
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    padding: 8px 5px;
    margin: 0;
    color: #685c53;
}

.main__container #TC li a {
    color: #685c53;
}

.main__container .proceed_to_form {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #757575;
    padding-top: 24px;
}

.main__container .errorMsg {
    font-size: 12px!important;
    line-height: 1.33!important;
    color: #ee1d24!important;
    font-family: 'Roboto', sans-serif !important;
    margin-top: 5px!important;
}

.main__container .infoIcon img {
    max-width: 100%;
    padding: 0px 6px;
}

.main__container button.close__button {
    position: absolute;
    right: 2% !important;
    z-index: 100 !important;
    top: 2% !important;
}


/* Form Elements */

@media (min-width: 1120px) {
    .col-xl_20,
    .col-lg_20,
    .col-md_20 {
        width: 20% !important;
    }
    .main__container .tooltipCustom.input {
        width: 98%;
    }
    .main__container .tooltipCustom.input .inputFeild {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .main__container .tooltipCustom.input .inputFeild {
        margin-bottom: 24px;
    }
}

.main__container .tooltipCustom.input,
.main__container .tooltipCustom.input .inputFeild {
    width: 100%;
}

@media (max-width: 991px) and (min-width: 767px) {}

@media (max-width: 767px) {
    .header_item_text {
        line-height: 1.4;
    }
    .main__container .home__layout {
        display: block;
        margin-top: unset;
    }
    .main__container .home__layout .home_layout_left {
        width: 100%;
    }
    .main__container .home__layout .home_layout_left .carousel__container {
        border-radius: 0;
    }
    .main__container .home-carousel .owl-nav.disabled+.owl-dots {
        bottom: unset;
    }
    .main__container .carousel__container .home-carousel p {
        margin-bottom: 24px;
    }
    .main__container .home__layout .home_layout_right {
        width: 100%;
        height: auto;
        background: #fff;
        box-shadow: unset;
        border-radius: 5px;
        padding: 10px 9px 24px 9px;
    }
    .bottom_sm_fixed {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 10000;
    }
    .bottom_sm_fixed .kotak_btn_group {
        padding: 4px 0;
        background: #EAF5FA;
    }
    .space__container.bottom_sm_fixed {
        padding: 0;
    }
    .border_sm_bottom {
        border-bottom: 1px solid #D2D2D2;
    }
    .card,
    .video_block {
        margin-bottom: 24px;
    }
    .sub_header .eterm__grid {
        padding: 0 0;
    }
    .main_heading {
        margin-bottom: 32px;
    }
    .space__container {
        padding: 32px 0 32px 0;
    }
    .video_player {
        height: calc(100vh - 392px) !important;
    }
    .main__container .nav-tabs.tabset__container.nav {
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .main__container .nav-tabs.tabset__container.nav::-webkit-scrollbar {
        display: none;
    }
    .main__container .nav-tabs.tabset__container.nav li.nav-item {
        min-width: 200px;
    }
    h4 {
        line-height: 30px;
    }
    h6 {
        line-height: 20px;
    }
    .popular__tag::before {
        right: 20px;
    }
    .add_on_card {
        padding: 22px 15px;
    }
    .w-70 {
        width: 100%;
    }
    .benefit_icon img {
        width: 84%;
    }
    .add_ons_title {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
    }
    .desc__text {
        margin: 8px 0 12px 0;
    }
    .w-60 .select_lakhs_container {
        width: 60% !important;
    }
    .main__container .proceed_to_form {
        font-size: 14px;
        position: fixed;
        bottom: 149px;
        width: 100%;
        background: #FFFFFF;
        padding: 12px !important;
        border-top: 1px solid #DADADA;
        padding-top: 0;
        z-index: 999;
    }
    .kotak_navbar .eterm__grid {
        padding: 0 2px;
    }
    .radio__group .checkbox__container {
        width: 100%;
        white-space: break-spaces;
    }
    .video_block {
        width: 100%;
    }
    .main__container button.close__button {
        position: absolute;
        right: 3% !important;
        z-index: 100 !important;
        top: 2% !important;
    }
}

@media (min-width: 300px) and (max-width: 360px) {
    .form_row ul.radioList li.active span::after {
        display: none;
    }
    .main__container .home-carousel h2 {
        font-size: 20px;
    }
}


/* Select from Dropdown */

.main__container span.dropdown-toggle {
    display: none;
}

.main__container button.dropdown-item {
    outline: none;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 8px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.main__container .dropdown-item.active,
.main__container .dropdown-item:active {
    color: #16181b !important;
    background-color: #f8f9fa !important;
}

.main__container input.dropdown-toggle {
    cursor: pointer;
    background-image: url('assets/images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.main__container span.dropdown-toggle::after,
.dropdown-toggle::after {
    content: none;
}

.dropdown ul.dropdown-menu {
    padding: .45rem 0.7rem;
}

.header-link {
    font-size: 14px;
}

.main__container input.rel-type-ellipses {
    padding: 15px 40px 15px 20px;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.main__container .customDD .dropdown-menu {
    width: 100%;
    margin-top: 4px;
}

.dropdown-menu button {
    display: block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 6px 12px;
    color: #000000;
    text-align: left;
}

.rupeeF {
    position: relative;
}

.rupeeF .inputFeild {
    padding-left: 24px;
}

.rupee {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 12px;
    top: 16px;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    color: #000000 !important;
}

.main__container .form_row .date-icon,
.main__container .customBSFormElements .date-icon {
    background-image: url('assets/images/calendar.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.hightlight_green {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #00A22C !important;
}

.main__container p.input-result {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-top: 5px;
    text-align: left;
}

.showNestedPopover .popover {
    left: calc(-100% + 15px);
}

.main__container .input.vaidateTick::after,
.main__container .customBSFormElements .vaidateTick::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('assets/images/green-tick.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.edit_feilds button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003366;
    display: flex;
    justify-content: center;
    margin: auto;
}

.popover {
    max-width: 325px;
    min-width: max-content;
    background-color: #DDEEFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 6px;
}

.popover-body {
    font-size: 14px;
    color: #222222;
    font-family: 'Roboto', sans-serif !important;
    text-align: left;
    line-height: 22px;
    padding: 10px;
}

.main__container .toolTipCustomClass,
.toolTipCustomClass .tooltip-inner {
    background-color: #DDEEFF !important;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 6px;
}

.main__container .toolTipCustomClass.show,
.toolTipCustomClass .tooltip-inner.show {
    opacity: 1 !important;
    padding: 5px;
}

.toolTipCustomClass.show {
    opacity: 1 !important;
}

.main__container .toolTipCustomClass .tooltip-inner,
.toolTipCustomClass .tooltip-inner {
    background-color: transparent;
    font-size: 14px;
    color: #222222;
    font-family: 'Roboto', sans-serif !important;
    text-align: left;
    line-height: 22px;
}

.toolTipCustomClass .tooltip-inner {
    padding: 8px 12px !important;
}

.main__container .customBSFormElements {
    width: 100%;
    height: auto;
    position: relative;
}

.main__container .customBSFormElements .tooltip-inner,
.toolTipCustomClass .tooltip-inner {
    max-width: 270px !important;
}

.toolTipCustomClass.tabacco_landing .tooltip-inner {
    max-width: 200px !important;
}

.main__container .customBSFormElements .form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.main__container .customBSFormElements .form-control:focus {
    outline: none;
    border: none;
}

.main__container .customBSFormElements .form-floating>.form-control {
    padding: 1rem 0 5px;
}

.main__container .customBSFormElements .form-floating>label {
    padding: 1rem 1px;
}

.main__container .customBSFormElements .form-floating>.form-control:focus~label,
.main__container .customBSFormElements .form-floating>.form-control:not(:placeholder-shown)~label,
.main__container .customBSFormElements .form-floating>.form-select~label {
    top: -4px;
    left: -4px;
    opacity: 1;
}

.main__container .customBSFormElements .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #ced4da;
}

.main__container .off_button {
    border: 1px solid #EAE8EA;
    background: #EAE8EA;
    color: #5B5B5B;
}

.disabled {
    border: 1px solid #D2D2D2;
    background: #D2D2D2;
    color: #FFFFFF;
}

.inputFeild.CKYC {
    max-width: 280px;
}

.main__container .header_item .dropdown-menu {
    top: 20px!important;
    min-width: 270px!important;
    padding: 6px;
    margin: .125rem 0 0;
    font-size: 12px;
    color: #212529;
    border: none;
    text-align: left;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.main__container .header_item .dropdown-menu .dropdown_row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 10px; */
    /* padding: 15px 0; */
}

option {
    width: 100% !important;
}


/* Tabset CSS */

#navTabset .nav-tabset {
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    display: flex;
}

#navTabset .nav-tabset li.nav-tab {
    width: 33.33%;
    list-style: none;
    border: none;
    border-right: 1px solid #DADADA;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding: 16px;
    text-align: center;
}

#navTabset .nav-tabset li.nav-tab.active {
    background: #003366;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 0px;
    border-bottom: 1px solid #003366;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navTabset .tabs-container.container {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
}

@media (max-width:767px) {
    #navTabset .nav-tabset li.nav-tab {
        min-width: 200px;
        min-height: 60px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #navTabset .nav-tabset {
        overflow-x: scroll;
        overflow-y: none;
    }
}
/* Tabset accordion */


/* Bootstrap Accordian */

.tab__content .accordian_container .accordion .accordion-item {
    background-color: #fff;
    border: 1px solid #E2E2E2;
    margin-bottom: 24px;
}

.tab__content .accordian_container .accordion .accordion-item .accordion-header {
    margin-bottom: 0px;
}

.tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px;
    color: #000000 !important;
    border: none;
    padding: 16px;
    width: 100%;
    text-align: left;
    position: relative;
}

.tab__content .accordian_container .accordion .accordion-item .accordion-collapse .accordion-body {
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 24px !important;
    color: #2B2B2B !important;
    padding: 16px;
    padding-top: 12px !important;
}

.tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button::after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('assets/images/minus-acc.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    transition: transform .2s ease-in-out;
    top: 16px;
    right: 16px;
    position: absolute;
    display: inline-block;
}

.tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button.collapsed::after {
    background-image: url('assets/images/add.svg');
}


/* KYC Bootstrap Accordion */

.kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button {
    padding-left: 40px;
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-collapse .accordion-body {
    padding-top: 0px !important;
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button::after {
    background-image: none;
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button.collapsed::after {
    background-image: none;
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: unset;
    background-image: url('assets/images/kyc-accordion-show.svg');
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;
    background-size: 18px;
    position: absolute;
    display: inline-block;
    left: 14px;
    top: 15px;
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-header .accordion-button.collapsed::before {
    background-image: url('assets/images/kyc-accordion-hide.svg');
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item {
    margin-bottom: 24px;
    border: 1px solid #A0A0A0 !important;
}

.kyc_container .tab__content .accordian_container .accordion .accordion-item:last-of-type {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.kyc_container .kyc_container .tab__content .accordian_container .accordion .accordion-item .accordion-collapse .accordion-body {
    padding-top: 0px;
}

.toolTipCustomClass .arrow {
    display: none;
}

input#DobInput {
    min-height: 44px;
    padding: 10px 0 !important;
}

.proceed__btn {
    width: 100%;
    border-radius: 10px;
}