.sub_header_title {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    white-space: nowrap;
    margin: auto;
}

.sub_header .header_content {
    width: 577px;
}

.caption {
    width: 30%;
    text-align: center;
    border-right: 1px solid #B3B3B3;
}

.caption.gender {
    width: 15%;
    text-align: center;
}

.edit_feilds button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003366;
    display: flex;
    justify-content: center;
    margin: auto;
}

.caption.edit_feilds {
    width: 20%;
}

@media (max-width: 767px) {
    .sub_header .header_content {
        width: 100%;
    }
    .caption.edit_feilds {
        width: 16%;
    }
    .caption,
    .caption.gender {
        text-align: text;
    }
    .caption {
        width: 34%;
    }
}

@media (min-width: 300px) and (max-width: 360px) {
    .caption {
        white-space: nowrap;
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }
    .caption.edit_feilds {
        width: 15%;
    }
    .caption.gender {
        width: 13%;
        text-align: left;
    }
}

ul.radioList li {
    display: inline-block;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 8px;
    border: 1px solid #D6D6D6;
    margin-right: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 50%;
    line-height: 16px;
    color: #757575;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.customBody {
    max-height: 50vh;
    overflow-y: auto;
}