<div class="sub_header">
    <div class="eterm__grid">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="header_content d-flex align-items-center justify-content-between">
                        <div class="caption pl-0 d-md-block d-none" style="text-align: left;"><b>Personal details</b></div>
                        <div class="caption">Shyam Verma</div>
                        <div class="caption">13/07/1988</div>
                        <div class="caption gender">M</div>
                        <div class="caption edit_feilds" style="border-right: none;">
                            <button (click)="editFormFeild()"><img src="assets/images/edit-button.svg" alt=""><span class="d-xl-block d-lg-block d-md-block d-none">Edit</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #editDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit basic details</h4>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true"><img src="assets/images/cross-sign.svg" alt=""></span>
      </button>
    </div>

    <div class="modal-body customBody">
        <form [formGroup]="editDetailsForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-3">
                        <div class="form_row">
                            <label>Full name</label>
                            <input type="text" formControlName="name" name="name" class="inputFeild" id="" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-3">
                        <div class="form_row">
                            <label>Gender</label>
                            <ul class="radioList">
                                <li class="gender white-circle" [ngClass]="{'active': gender === 'male'}" (click)="setGender('male');"><span>Male</span>
                                </li>
                                <li class="gender white-circle" [ngClass]="{'active': gender === 'female'}" (click)="setGender('female');">
                                    <span>Female</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-3">
                        <div class="form_row">
                            <label>Date of birth</label>
                            <input class="inputFeild" type="text" placeholder="Date of birth" formControlName="birthdate" #myInput>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-3">
                        <div class="form_row">
                            <label>Tobacco smoker</label>
                            <ul class="radioList">
                                <li class="tobacco  white-circle" [ngClass]="{'active': tobacco === 'yes'}" (click)="setTobacco('yes');"><span>Yes</span>
                                </li>
                                <li class="tobacco  white-circle" [ngClass]="{'active': tobacco === 'no'}" (click)="setTobacco('no');">
                                    <span>No</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-3">
                        <div class="form_row">
                            <label>Email address</label>
                            <input type="email" name="email" class="inputFeild" formControlName="email" id="" placeholder="Enter Email address">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal-footer">
        <div class="w-100 row justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                <button type="button" class="w-100 secondary_btn" aria-label="Close" (click)="cancel()">BACK</button>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                <button type="button" class="w-100 primary_btn" (click)="cancel()">UPDATE</button>
            </div>
        </div>
    </div>
</ng-template>