<div class="modal-header">
    <h4 class="modal-title">Higher monthly premium</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"><img src="assets/images/cross-sign.svg" alt=""></span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: #000000;">With an annual payment frequency, you are eligible for a lower premium.</p>
  </div>
  <div class="modal-footer justify-content-center">
      <div class="d-flex justify-content-around align-items-center">
        <button type="button" class="primary_btn default" (click)="selectFreq('Monthly')">SELECT MONTHLY</button>
        <button type="button" class="primary_btn" (click)="selectFreq('Annually')">SELECT ANNUALLY</button>
      </div>
  </div>